<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link rel="stylesheet" href="../../../static/assets/css/common.css" />
    <link rel="stylesheet" href="../../../static/assets/css/myPage/shopping/claim.css" />-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/myPage/shopping/claim.css}" />
    <title>린미 - 주문/배송 내역</title>
    <!-- Header 영역 -->
    <th:block th:replace="~{/fragments/header}" />
  </head>
  <body>
    <!-- Main 영역-->
    <main>
      <div class="clainContainer">
        <div class="contents">
          <div class="myPageContents">
            <div class="myPageDetail">
              <section class="shoppingCover">
                <!-- 취소/교환/환불 -->
                <div class="statusTypeList">
                  <a class="statusTypeItem order" th:href="@{/mypage/shopping/order}">주문/배송</a>
                  <a class="statusTypeItem claim on" th:href="@{/mypage/shopping/claim}">취소/교환/환불</a>
                </div>
                <ul class="claimList on noClaim">
                  <li class="noData"><div class="noOrderList">취소/교환/환불 내역이 없습니다.</div></li>
                </ul>
              </section>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer 영역 -->
    <th:block th:replace="~{/fragments/footer}" />

    <!-- Script 영역 -->
    <script>
      // Footer 영역의 margin을 0으로 설정
      document.querySelector(".footerContainer").style.margin = "0px";
    </script>
  </body>
</html>
