<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link rel="stylesheet" href="../../../static/assets/css/common.css" />
    <link rel="stylesheet" href="../../../static/assets/css/myPage/shopping/order.css" />-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/myPage/shopping/order.css}" />
    <title>린미 - 주문/배송 내역</title>
    <!-- Header 영역 -->
    <th:block th:replace="~{/fragments/header}" />
  </head>
  <body>
    <!-- Main 영역-->
    <main>
      <div class="orderContainer">
        <div class="contents">
          <div class="myPageDetail">
            <section class="shoppingCover">
              <!-- 주문/배송 -->
              <div class="statusTypeList">
                <a th:href="@{/mypage/shopping/order}" class="statusTypeItem order on">주문/배송</a>
                <a th:href="@{/mypage/shopping/claim}" class="statusTypeItem claim">취소/교환/환불</a>
              </div>
              <!-- 주문 내역 -->
              <ul class="orderList on noOrder">
                <!-- 주문 내역 없을 때 -->
                <li class="noData">
                  <div class="noOrderList">주문/배송 내역이 없습니다.</div>
                  <!-- 메인페이지 이동 -->
                  <a th:href="@{/main/main}"><div class="button clickable moveToMain">쇼핑하러 가기</div></a>
                </li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer 영역 -->
    <th:block th:replace="~{/fragments/footer}" />

    <!-- Script 영역 -->
    <script>
      // Footer 영역의 margin을 0으로 설정
      document.querySelector(".footerContainer").style.margin = "0px";
    </script>
  </body>
</html>
