<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link rel="stylesheet" href="../../../static/assets/css/common.css" />
    <link rel="stylesheet" href="../../../static/assets/css/myPage/shopping/order.css" />-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/myPage/shopping/order.css}" />
    <title>린미 - 주문/배송 내역</title>
    <!-- Header 영역 -->
    <th:block th:replace="~{/fragments/header}" />
  </head>
  <body>
    <!-- Main 영역-->
    <main>
      <div class="orderContainer">
        <div class="contents">
          <div class="myPageDetail">
            <article class="shoppingCover">
              <!-- 주문/배송 -->
              <header class="statusTypeList">
                <a th:href="@{/mypage/shopping/order}" class="statusTypeItem order on">주문/배송</a>
                <a th:href="@{/mypage/shopping/claim}" class="statusTypeItem claim">취소/교환/환불</a>
              </header>
              <section class="orderList" th:if="${payments.size() == 0}">
                <div class="noData">
                  <div class="noOrderList">주문/배송 내역이 없습니다.</div>
                  <a th:href="@{/main/main}"><div class="button clickable moveToMain">쇼핑하러 가기</div></a>
                </div>
              </section>

              <section class="orderList" th:unless="${payments.size() == 0}">
                <ul>
                  <!-- 주문/배송 내역 -->
                  <li class="payments" th:each="payments : ${payments}">
                    <ul class="orderInfo">
                      <!-- 주문 정보 -->
                      <span class="orderNo">주문번호 : <span class="orderNo" th:text="${payments.orderNo}"></span></span>
                      <span class="orderOk">결제완료</span>
                      <!-- 주문 상품 정보 -->
                      <li class="orderItems" th:each="orderItems : ${payments.orderItems}">
                        <div class="orderItemInfo" th:if="${orderItems.paymentId == payments.paymentId}">
                          <img th:src="${orderItems.orderImg}" alt="Product Image" />
                          <div class="orderItemDetail">
                            <span class="orderPname"><span th:text="${orderItems.orderPname}"></span></span>
                            <span class="orderCount"><span th:text="${orderItems.orderCount} + '개'"></span></span>
                          </div>
                        </div>
                      </li>
                      <!-- 주문 금액 -->
                      <div class="orderPrice">
                        <span class="orderPriceText"
                          >총 상품금액 : <span th:text="${#numbers.formatInteger(payments.totalPrice, 3, 'COMMA')} + ' 원'"></span
                        ></span>
                      </div>
                    </ul>
                  </li>
                </ul>
              </section>
            </article>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer 영역 -->
    <th:block th:replace="~{/fragments/footer}" />

    <!-- Script 영역 -->
    <script>
      // Footer 영역의 margin을 0으로 설정
      document.querySelector(".footerContainer").style.margin = "0px";
    </script>
  </body>
</html>
