<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linme</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/myPage/myPage.css}" />
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/myPage/addressBook.css}" />
    <th:block th:replace="~{/fragments/header}" />
</head>
<body>

    <!-- 메인 콘텐츠 영역 -->
    <div class="Container">
        <h2>마이페이지</h2>

        <!-- 사용자 정보+ 주요 정보 -->
        <div class="infoSection">
            <!-- 사용자 정보 -->
            <div class="userInfo">
                <div class="profile">
                    <a th:href="@{/myPage/profile}">
                        <img th:src="@{/assets/img/myPage/profileimg.png}"/>
                    </a>
                    <div class="userDetails">
                        <a th:href="@{/myPage/profile}">
                            <h3 th:text="${username}"></h3>
                        </a>
                        <p>등급: <a th:href="@{/myPage/level}"><span th:text="${grade}"></span></a></p>
                        <p>리워드: <a th:href="@{/myPage/reward}"><span th:text="${reward}"></span></a></p>
                    </div>
                </div>
                <div class="userActions">
                    <a th:href="@{/myPage/myinfo}">
                        <button>내 정보 관리</button>
                    </a>
                </div>
            </div>

            <!-- 주요 정보 표시 -->
            <div class="mainInfo">
                <div class="infoBox">
                    <p>쇼핑내역</p>
                    <span th:text="${shoppingHistoryCount}"></span>
                </div>
                <div class="infoBox">
                    <p>쿠폰</p>
                    <span th:text="${couponCount}"></span>
                </div>
                <div class="infoBox">
                    <p>리뷰</p>
                    <span th:text="${reviewCount}"></span>
                </div>
            </div>
        </div>
        <div class="contentContainer">
                <!-- 쇼핑 및 고객센터 메뉴 -->
                <div class="menuContainer">
                    <div class="menuSection">
                        <h3>쇼핑</h3>
                        <ul>
                            <li><a th:href="@{/myPage/productInquiry}" class="menuLink">상품 문의 내역
                                <img th:src="@{/assets/img/myPage/graynext.png}" class="nextIcon"/></a>
                            </li>
                            <li><a th:href="@{/myPage/refundAccount}" class="menuLink">환불계좌 관리
                                <img th:src="@{/assets/img/myPage/graynext.png}" class="nextIcon"/></a>
                            </li>
                            <li><a th:href="@{/myPage/addressBook}" class="menuLink">배송지 관리
                                <img th:src="@{/assets/img/myPage/graynext.png}" class="nextIcon"/></a>
                            </li>
                        </ul>
                    </div>      
                    <div class="menuSection">
                        <h3>고객센터</h3>
                        <ul>
                            <li><a th:href="@{/myPage/notice}" class="menuLink">공지사항
                                <img th:src="@{/assets/img/myPage/graynext.png}" class="nextIcon"/></a>
                            </li>
                            <li><a th:href="@{/myPage/faq}" class="menuLink">FAQ
                                <img th:src="@{/assets/img/myPage/graynext.png}" class="nextIcon"/></a>
                            </li>
                            <li><a th:href="@{/myPage/inquiry}" class="menuLink">1:1 문의
                                <img th:src="@{/assets/img/myPage/graynext.png}" class="nextIcon"/></a>
                            </li>
                        </ul>   
                    </div>
                </div>
                <!-- 배송지 관리 화면 -->
            <div class="addressContainer">
                <div class="addressTitle">배송지 관리</div>
                <div class="addressList">
                    <div class="addressBox Save">
                        <div class="addressInfo">
                            <h3>id <span class="defaultBadge">기본 배송지</span></h3>
                            <p>address</p>
                            <p>name (phone)</p>
                        </div>
                        <a th:href="@{/myPage/addressBookAdd}" class="editButton">수정</a>
                    </div>    
                </div>
            </div>
        </div>   
    </div>
    <footer>
        <th:block th:replace="~{/fragments/footer}" />
    </footer>
    
    <script th:src="@{/assets/js/myPage/myPage.js}"></script>
    <script>
        document.querySelector(".footerContainer").style.margin = "0px";
    </script>
</body>
</html>
