<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>린미 - 세상에 없던 H-커머스</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/myPage/myPage.css}" />
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/myPage/addressBookAdd.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css"/>
    <th:block th:replace="~{/fragments/header}" />
</head>
<body>
    <!-- 메인 콘텐츠 영역 -->
    <div class="Container">
        <h2>마이페이지</h2>

        <!-- 사용자 정보+ 주요 정보 -->
        <div class="infoSection">
            <!-- 사용자 정보 -->
            <div class="userInfo">
                <div class="profile">
                    <a th:href="@{/myPage/profile}">
                        <img th:src="${session.memberInfo.profile != null and session.memberInfo.profile != ''} ? ${session.memberInfo.profile} : @{/assets/img/mypage/profileimg.jpg}" alt="프로필 이미지">
                    </a>
                    <div class="userDetails">
                        <a th:href="@{/myPage/profile}">
                            <h3><span th:text="${session.memberInfo.nickname}" /></h3>
                        </a>
                        <p> <a th:href="@{/myPage/level}"><span th:text="${grade}"></span>등급:</a></p>
                        <p> <a th:href="@{/myPage/reward}"><span th:text="${reward}"></span>리워드:</a></p>
                    </div>
                </div>
                <div class="userActions">
                    <a th:href="@{/myPage/myinfo}">
                        <button>내 정보 관리</button>
                    </a>
                </div>
            </div>

            <!-- 주요 정보 표시 -->
            <div class="mainInfo">
                <div class="infoBox">
                    <p><a th:href="@{/mypage/shopping/order}">쇼핑내역</a></p>
                    <span th:text="${shoppingHistoryCount}"></span>
                </div>
                <div class="infoBox">
                    <p><a th:href="@{/mypage/coupon}">쿠폰</a></p>
                    <span th:text="${couponCount}"></span>
                </div>
                <div class="infoBox">
                    <p><a th:href="@{/mypage/review}">리뷰</a></p>
                    <span th:text="${reviewCount}"></span>
                </div>
            </div>
        </div>
        <div class="contentContainer">
                <!-- 쇼핑 및 고객센터 메뉴 -->
                <div class="menuContainer">
                    <div class="menuSection">
                        <h3>쇼핑</h3>
                        <ul>
                            <li><a th:href="@{/myPage/productInquiry}" class="menuLink">상품 문의 내역
                                <img th:src="@{/assets/img/myPage/graynext.jpg}" class="nextIcon"/></a>
                            </li>
                            <li><a th:href="@{/myPage/refundAccount}" class="menuLink">환불계좌 관리
                                <img th:src="@{/assets/img/myPage/graynext.jpg}" class="nextIcon"/></a>
                            </li>
                            <li><a th:href="@{/myPage/addressBook}" class="menuLink">배송지 관리
                                <img th:src="@{/assets/img/myPage/graynext.jpg}" class="nextIcon"/></a>
                            </li>
                        </ul>
                    </div>      
                    <div class="menuSection">
                        <h3>고객센터</h3>
                        <ul>
                            <li><a th:href="@{/myPage/notice}" class="menuLink">공지사항
                                <img th:src="@{/assets/img/myPage/graynext.jpg}" class="nextIcon"/></a>
                            </li>
                            <li><a th:href="@{/myPage/faq}" class="menuLink">FAQ
                                <img th:src="@{/assets/img/myPage/graynext.jpg}" class="nextIcon"/></a>
                            </li>
                            <li><a th:href="@{/myPage/inquiry}" class="menuLink">1:1 문의
                                <img th:src="@{/assets/img/myPage/graynext.jpg}" class="nextIcon"/></a>
                            </li>
                        </ul>   
                    </div>
                </div>
                <!-- 배송지 관리 화면 -->
                <div class="addressContainer">
                    <h2 class="addressTitle">배송지 추가</h2>
                    <form id="address-form" class="address-form" th:action="@{/api/myPage/postcode-update}" method="put" enctype="multipart/form-data">

                        <div class="formGroup">
                            <label for="addressName"><span class="required">* </span>배송지명</label>
                            <input th:value="${session.memberInfo.nickname}" type="text" name="nickname" id="nickname" class="input-field" placeholder="배송지명" readonly>
                        </div>
                        
                        <div class="formGroup">
                            <label for="recipient"><span class="required">* </span>받는 분</label>
                            <input th:value="${session.memberInfo.userName}" type="text" name="userName" id="userName" class="input-field" placeholder="홍길동" readonly>
                        </div>
                        
                        <div class="formGroup">
                            <label for="contact"><span class="required">* </span>연락처</label>
                            <input th:value="${session.memberInfo.tel}" type="text" name="tel" id="tel" class="input-field" placeholder="00000000000" readonly>
                        </div>
                        
                        <!-- 우편번호 -->
                        <div class="formGroup">
                            <label for="postcode"><span class="required">* </span>우편번호</label>
                            <div class="input-container">
                                <input th:value="${session.memberInfo.postcode}" type="text" name="postcode" id="postcode" class="input-field" placeholder="우편번호" readonly />
                                <button type="button" id="findPostcode" class="findPostcode">우편번호 찾기</button>
                            </div>
                        </div>

                        <!-- 주소 -->
                        <div class="formGroup">
                            <label for="addr1"><span class="required">* </span>주소</label>
                            <input th:value="${session.memberInfo.addr1}" type="text" name="addr1" id="addr1" class="input-field" placeholder="주소" readonly />
                        </div>

                        <div class="formGroup">
                            <label for="addr2">상세 주소</label>
                            <input th:value="${session.memberInfo.addr2}" type="text" name="addr2" id="addr2" class="input-field" placeholder="상세 주소" />
                        </div>

                        <!-- 배송 요청사항 -->
                        <div class="formGroup">
                            <label for="addrMsg">배송 요청사항</label>
                            <select name="addrMsg" id="addrMsg" class="input-field" th:value="${session.memberInfo.addrMsg != null ? session.memberInfo.addrMsg : '문 앞에 놓아주세요'}">
                                <option value="문 앞에 놓아주세요" th:selected="${session.memberInfo.addrMsg == '문 앞에 놓아주세요'}">문 앞에 놓아주세요</option>
                                <option value="배송 전에 미리 연락 주세요" th:selected="${session.memberInfo.addrMsg == '배송 전에 미리 연락 주세요'}">배송 전에 미리 연락 주세요</option>
                                <option value="부재 시 경비실에 맡겨 주세요" th:selected="${session.memberInfo.addrMsg == '부재 시 경비실에 맡겨 주세요'}">부재 시 경비실에 맡겨 주세요</option>
                                <option value="부재 시 전화주시거나 문자 남겨주세요" th:selected="${session.memberInfo.addrMsg == '부재 시 전화주시거나 문자 남겨주세요'}">부재 시 전화주시거나 문자 남겨주세요</option>
                            </select>
                        </div>

                        <div class="defaultAddressContainer">
                            <input type="checkbox" id="defaultAddress">
                            <label for="defaultAddress">기본 배송지 설정</label>
                        </div>

                        <button type="submit" class="saveButton">저장</button>
                    </form>
                </div>
                    
            </div>
        </div>

        <footer>
            <th:block th:replace="~{/fragments/footer}" />
        </footer>
        

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.13.1/dist/sweetalert2.all.min.js"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script th:src="@{/assets/js/helperJs/RegexHelper.js}"></script>
        <script th:src="@{/assets/js/helperJs/UtilHelper.js}"></script>
        <script th:src="@{/assets/js/myPage/myPage.js}"></script>
        <script>
            document.querySelector(".footerContainer").style.margin = "0px";
        </script>
        <script th:src="@{/assets/js/myPage/addressBookAdd.js}"></script>
</body>
</html>