<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linme</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/myPage/myPage.css}" />
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/myPage/faq.css}" />
    <th:block th:replace="~{/fragments/header}" />
</head>
<body>
   <!-- 메인 콘텐츠 영역 -->
   <div class="Container">
    <h2>마이페이지</h2>

    <!-- 사용자 정보+ 주요 정보 -->
    <div class="infoSection">
        <!-- 사용자 정보 -->
        <div class="userInfo">
            <div class="profile">
                <a th:href="@{/myPage/profile}">
                    <img th:src="@{/assets/img/myPage/profileimg.jpg}" alt="프로필 이미지"/>
                </a>
                <div class="userDetails">
                    <a th:href="@{/myPage/profile}">
                        <h3 th:text="${username}"></h3>
                    </a>
                    <p>등급: <a th:href="@{/myPage/level}"><span th:text="${grade}"></span></a></p>
                    <p>리워드: <a th:href="@{/myPage/reward}"><span th:text="${reward}"></span></a></p>
                </div>
            </div>
            <div class="userActions">
                <a th:href="@{/myPage/myinfo}">
                    <button>내 정보 관리</button>
                </a>
            </div>
        </div>
            <!-- 주요 정보 표시 -->
            <div class="mainInfo">
                <div class="infoBox">
                    <p>쇼핑내역</p>
                    <span th:text="${shoppingHistoryCount}"></span>
                </div>
                <div class="infoBox">
                    <p>쿠폰</p>
                    <span th:text="${couponCount}"></span>
                </div>
                <div class="infoBox">
                    <p>리뷰</p>
                    <span th:text="${reviewCount}"></span>
                </div>
            </div>
        </div>
        <div class="contentContainer">
                <!-- 쇼핑 및 고객센터 메뉴 -->
                <div class="menuContainer">
                    <div class="menuSection">
                        <h3>쇼핑</h3>
                        <ul>
                            <li><a th:href="@{/myPage/productInquiry}" class="menuLink">상품 문의 내역
                                <img th:src="@{/assets/img/myPage/graynext.jpg}" class="nextIcon"/></a>
                            </li>
                            <li><a th:href="@{/myPage/refundAccount}" class="menuLink">환불계좌 관리
                                <img th:src="@{/assets/img/myPage/graynext.jpg}" class="nextIcon"/></a>
                            </li>
                            <li><a th:href="@{/myPage/addressBook}" class="menuLink">배송지 관리
                                <img th:src="@{/assets/img/myPage/graynext.jpg}" class="nextIcon"/></a>
                            </li>
                        </ul>
                    </div>      
                    <div class="menuSection">
                        <h3>고객센터</h3>
                        <ul>
                            <li><a th:href="@{/myPage/notice}" class="menuLink">공지사항
                                <img th:src="@{/assets/img/myPage/graynext.jpg}" class="nextIcon"/></a>
                            </li>
                            <li><a th:href="@{/myPage/faq}" class="menuLink">FAQ
                                <img th:src="@{/assets/img/myPage/graynext.jpg}" class="nextIcon"/></a>
                            </li>
                            <li><a th:href="@{/myPage/inquiry}" class="menuLink">1:1 문의
                                <img th:src="@{/assets/img/myPage/graynext.jpg}" class="nextIcon"/></a>
                            </li>
                        </ul>   
                    </div>
                </div>
                <!-- FAQ 화면-->
                <div class="faqContainer">
                    <div class="faqTitle">FAQ</div>
                    <div class="faqTable">
                        <table>
                            <tr onclick="showNoticeContent(1)" class="faqQuestion">
                                <td>도서산간지역도 배송이 가능한가요?</td>
                            </tr>
                            <tr id="content1" class="faqAnswer">
                                <td colspan="2"></td>
                            </tr>
                            <tr onclick="showNoticeContent(2)" class="faqQuestion">
                                <td>배송지 목록 추가 또는 수정을 하고 싶어요.</td>
                            </tr>
                            <tr id="content2" class="faqAnswer">
                                <td colspan="2"></td>
                            </tr>
                            <tr onclick="showNoticeContent(3)" class="faqQuestion">
                                <td>배송지를 변경하고 싶은데 가능한가요?</td>
                            </tr>
                            <tr id="content3" class="faqAnswer">
                                <td colspan="2"></td>
                            </tr>
                            <tr onclick="showNoticeContent(4)" class="faqQuestion">
                                <td>교환이나 환불 진행 시 배송비를 부과해야 하나요?</td>
                            </tr>
                            <tr id="content4" class="faqAnswer">
                                <td colspan="2"></td>
                            </tr>
                            <tr onclick="showNoticeContent(5)" class="faqQuestion">
                                <td>교환 또는 환불 가능 기준이 궁금해요.</td>
                            </tr>
                            <tr id="content5" class="faqAnswer">
                                <td colspan="2"></td>
                            </tr>
                            <tr onclick="showNoticeContent(6)" class="faqQuestion">
                                <td>주문을 취소하고 싶은데 어떻게 취소하나요?</td>
                            </tr>
                            <tr id="content6" class="faqAnswer">
                                <td colspan="2"></td>
                            </tr>
                            <tr onclick="showNoticeContent(7)" class="faqQuestion">
                                <td>비회원도 주문이 가능한가요?</td>
                            </tr>
                            <tr id="content7" class="faqAnswer">
                                <td colspan="2"></td>
                            </tr>
                            <tr onclick="showNoticeContent(8)" class="faqQuestion">
                                <td>주문 내역 조회를 하고 싶어요.</td>
                            </tr>
                            <tr id="content8" class="faqAnswer">
                                <td colspan="2"></td>
                            </tr>
                            <tr onclick="showNoticeContent(9)" class="faqQuestion">
                                <td>해외에 거주 중인데 해외 배송이 가능한가요?</td>
                            </tr>
                            <tr id="content9" class="faqAnswer">
                                <td colspan="2"></td>
                            </tr>
                            <tr onclick="showNoticeContent(10)" class="faqQuestion">
                                <td>회원 탈퇴 후 재가입이 가능한가요?</td>
                            </tr>
                            <tr id="content10" class="faqAnswer">
                                <td colspan="2"></td>
                            </tr>
                            <tr onclick="showNoticeContent(11)" class="faqQuestion">
                                <td>회원 탈퇴를 하고 싶어요.</td>
                            </tr>
                            <tr id="content11" class="faqAnswer">
                                <td colspan="2"></td>
                            </tr>
                            <tr onclick="showNoticeContent(12)" class="faqQuestion">
                                <td>이메일 또는 SMS(PUSH알림) 수신을 거부하고 싶어요.</td>
                            </tr>
                            <tr id="content12" class="faqAnswer">
                                <td colspan="2"></td>
                            </tr>
                            <tr onclick="showNoticeContent(13)" class="faqQuestion">
                                <td>교환이나 환불 진행 시 배송비를 부과해야 하나요?</td>
                            </tr>
                            <tr id="content13" class="faqAnswer">
                                <td colspan="2"></td>
                            </tr>
                            <tr onclick="showNoticeContent(14)" class="faqQuestion">
                                <td>회원 정보를 수정하고 싶어요.</td>
                            </tr>
                            <tr id="content14" class="faqAnswer">
                                <td colspan="2"></td>
                            </tr>
                            <tr onclick="showNoticeContent(15)" class="faqQuestion">
                                <td>아이디 또는 비밀번호를 까먹었어요.</td>
                            </tr>
                            <tr id="content15" class="faqAnswer">
                                <td colspan="2"></td>
                            </tr>
                            
                        </table>
                        <!-- 페이지 네비게이션 -->
                        <div class="pagination">
                            <span>&lt;</span>
                            <span>1 / 1</span>
                            <span>&gt;</span>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <footer>
        <th:block th:replace="~{/fragments/footer}" />
    </footer>
    <script th:src="@{/assets/js/myPage/myPage.js}"></script>
    <script th:src="@{/assets/js/myPage/faq.js}"></script>
    <script>
        document.querySelector(".footerContainer").style.margin = "0px";
    </script>
</body>
</html>


