<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linme</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/myPage/level.css}" />
    <th:block th:replace="~{/fragments/header}" />
</head>
<body>
    <div class="wrapper">   
        <div class="container">
            <h1>등급별 혜택 안내</h1>
            <div class="benefitsContainer">
                <div class="gradeSection">
                    <div class="userGrade">
                        <img th:src="@{/assets/img/myPage/level_family1.png}" alt="등급 아이콘" class="gradeIcon">
                        <h2><span class="userName">사용자님</span>의 리워드 등급</h2>
                        <div class="currentGrade">FAMILY</div>
                        <p>지난 분기<br>0원</p>
                        <p class="note">* 회원 등급은 분기별 1일에 자동 갱신됩니다.<br>(1월 1일 / 4월 1일 / 7월 1일 / 10월 1일)</p>
                    </div>
                </div>

                <div class="benefitTable">
                    <h3>멤버십 등급 혜택</h3>
                    <div class="benefitRow">
                        <div class="grade">
                            <img th:src="@{/assets/img/myPage/level_family2.png}" alt="FAMILY 아이콘">
                            <strong>FAMILY</strong>
                        </div>
                        <div class="benefitDetails">
                            <p>구매금액의 1% 적립</p>
                            <p>회원가입 고객</p>
                            <p>생일 1,000원 할인 쿠폰 지급</p>
                        </div>
                    </div>
                    <div class="benefitRow">
                        <div class="grade">
                            <img th:src="@{/assets/img/myPage/level_silver.png}" alt="SILVER 아이콘">
                            <strong>SILVER</strong>
                        </div>
                        <div class="benefitDetails">
                            <p>구매금액의 2% 적립</p>
                            <p>30만원 이상 구매 고객</p>
                            <p>생일 3,000원 할인 쿠폰 지급, 10% 할인 쿠폰 지급(최대 5천원)</p>
                        </div>
                    </div>
                    <div class="benefitRow">
                        <div class="grade">
                            <img th:src="@{/assets/img/myPage/level_gold.png}" alt="GOLD 아이콘">
                            <strong>GOLD</strong>
                        </div>
                        <div class="benefitDetails">
                            <p>구매금액의 3% 적립</p>
                            <p>150만원 이상 구매 고객</p>
                            <p>생일 5,000원 할인 쿠폰 지급, 10% 할인 쿠폰 지급(최대 1만원)</p>
                        </div>
                    </div>
                </div>

                <div class="additionalInfo">
                    <ul>
                        <li>멤버십 등급은 할인 금액, 포인트 사용액 등이 제외된 실제 결제 금액 기준으로 매월 1일 선정됩니다.</li>
                        <li>최근 1년 간 실제 결제 금액 기준으로 등급이 선정되며, 환불 등에 대한 사유로 등급이 하락할 수 있습니다.</li>
                        <li>주문 취소 및 환불 등으로 예상 등급과 실제 등급이 상이할 수 있습니다.</li>
                        <li>WELCOME 쿠폰은 가입 즉시 사용이 가능하며, 일부 브랜드나 제품은 사용이 불가할 수 있습니다.</li>
                        <li>일부 브랜드 및 상품은 온라인 무료 교환/반품 쿠폰 및 생일 혜택 쿠폰 사용이 제외될 수 있습니다.</li>
                        <li>온라인 등급 혜택 무료 교환/반품 쿠폰은 매월 1일 쿠폰으로 일괄지급 되며, 다이아몬드 등급 회원의 경우 자동적으로 무료 교환/반품이 적용됩니다.</li>
                        <li>최초 등급 달성 시 혜택은 최초 승급 시 1회만 지급되며, 유지 혹은 강급 시에는 지급되지 않습니다.</li>
                        <li>약관에 위배되거나 비정상적인 거래나 부정거래 행위 등의 사실이 확인될 경우 당사자의 동의 없이 적립 취소(포인트 회수, 미적립 등) 될 수 있습니다.</li>
                        <li>무료 반품의 경우 반품/교환이 불가한 사유에 해당하지 않으며 제품에 하자가 없는 경우 정상적으로 반품/교환이 가능합니다. (반품/교환 불가 사유는 각 상품 상세페이지 확인)</li>
                        <li>주문 건당 1회만 무료 교환 또는 무료 반품이 가능합니다.</li>
                        <li>구매 등급별 선정 조건과 혜택은 내부 정책에 의해 변경될 수 있습니다.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <th:block th:replace="~{/fragments/footer}" />
    </footer>
    <script>
        document.querySelector(".footerContainer").style.margin = "0px";
    </script>
</body>
</html>
