<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linme</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/myPage/myPage.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/myPage/notice.css}"/>
    <th:block th:replace="~{/fragments/header}" />
</head>
<body>
    <!-- 메인 콘텐츠 영역 -->
    <div class="Container">
        <h2>마이페이지</h2>

        <!-- 사용자 정보+ 주요 정보 -->
        <div class="infoSection">
            <!-- 사용자 정보 -->
            <div class="userInfo">
                <div class="profile">
                    <a th:href="@{/myPage/profile}">
                        <img th:src="@{/assets/img/myPage/profileimg.jpg}" alt="프로필 이미지"/>
                    </a>
                    <div class="userDetails">
                        <a th:href="@{/myPage/profile}">
                            <h3 th:text="${username}"></h3>
                        </a>
                        <p>등급: <a th:href="@{/myPage/level}"><span th:text="${grade}"></span></a></p>
                        <p>리워드: <a th:href="@{/myPage/reward}"><span th:text="${reward}"></span></a></p>
                    </div>
                </div>
                <div class="userActions">
                    <a th:href="@{/myPage/myinfo}">
                        <button>내 정보 관리</button>
                    </a>
                </div>
            </div>

            <!-- 주요 정보 표시 -->
            <div class="mainInfo">
                <div class="infoBox">
                    <p>쇼핑내역</p>
                    <span th:text="${shoppingHistoryCount}"></span>
                </div>
                <div class="infoBox">
                    <p>쿠폰</p>
                    <span th:text="${couponCount}"></span>
                </div>
                <div class="infoBox">
                    <p>리뷰</p>
                    <span th:text="${reviewCount}"></span>
                </div>
            </div>
        </div>
        <div class="contentContainer">
            <!-- 쇼핑 및 고객센터 메뉴 -->
            <div class="menuContainer">
                <!--쇼핑메뉴-->
                <div class="menuSection">
                    <h3>쇼핑</h3>
                        <ul>
                            <li><a th:href="@{/myPage/productInquiry}" class="menuLink">상품 문의 내역
                                <img th:src="@{/assets/img/myPage/graynext.jpg}" class="nextIcon"/></a>
                            </li>
                            <li><a th:href="@{/myPage/refundAccount}" class="menuLink">환불계좌 관리
                                <img th:src="@{/assets/img/myPage/graynext.jpg}" class="nextIcon"/></a>
                            </li>
                            <li><a th:href="@{/myPage/addressBook}" class="menuLink">배송지 관리
                                <img th:src="@{/assets/img/myPage/graynext.jpg}" class="nextIcon"/></a>
                            </li>
                        </ul>
                    </div>     
                    <!--고객센터 메뉴--> 
                    <div class="menuSection">
                        <h3>고객센터</h3>
                        <ul>
                            <li><a th:href="@{/myPage/notice}" class="menuLink">공지사항
                                <img th:src="@{/assets/img/myPage/graynext.jpg}" class="nextIcon"/></a>
                            </li>
                            <li><a th:href="@{/myPage/faq}" class="menuLink">FAQ
                                <img th:src="@{/assets/img/myPage/graynext.jpg}" class="nextIcon"/></a>
                            </li>
                            <li><a th:href="@{/myPage/inquiry}" class="menuLink">1:1 문의
                                <img th:src="@{/assets/img/myPage/graynext.jpg}" class="nextIcon"/></a>
                            </li>
                        </ul>   
                </div>
            </div>
            <!-- 공지사항 목록 화면 -->
            <div class="noticeContainer">
                <div class="noticeTitle">공지사항</div>
                    <div class="noticeTable">
                        <table>
                            <thead>
                                <tr>
                                    <th>제목</th>
                                    <th>작성일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr onclick="showNoticeContent(1)">
                                    <td>서비스이용약관</td>
                                    <td>2024-07-01</td>
                                </tr>
                                <tr id="content1" class="noticeDetailContent">
                                    <td colspan="2"></td>
                                </tr>
                                <tr onclick="showNoticeContent(2)">
                                    <td>마케팅 이용약관</td>
                                    <td>2024-07-01</td>
                                </tr>
                                <tr id="content2" class="noticeDetailContent">
                                    <td colspan="2"></td>
                                </tr>
                                <tr onclick="showNoticeContent(3)">
                                    <td>결제서비스 이용약관</td>
                                    <td>2024-07-01</td>
                                </tr>
                                <tr id="content3" class="noticeDetailContent">
                                    <td colspan="2"></td>
                                </tr>
                                <tr onclick="showNoticeContent(4)">
                                    <td>개인정보 제3자 동의약관</td>
                                    <td>2024-07-01</td>
                                </tr>
                                <tr id="content4" class="noticeDetailContent">
                                    <td colspan="2"></td>
                                </tr>
                                <tr onclick="showNoticeContent(5)">
                                    <td>개인정보처리방침</td>
                                    <td>2024-07-01</td>
                                </tr>
                                <tr id="content5" class="noticeDetailContent">
                                    <td colspan="2"></td>
                                </tr>
                            </tbody>
                        </table>
                
                    <!-- 페이지 네비게이션 -->
                    <div class="pagination">
                        <span>&lt;</span>
                        <span>1 / 1</span>
                        <span>&gt;</span>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <footer>
        <th:block th:replace="~{/fragments/footer}" />
    </footer>
    <script th:src="@{/assets/js/myPage/notice.js}"></script>
    <script th:src="@{/assets/js/myPage/myPage.js}"></script>
    <script>
        document.querySelector(".footerContainer").style.margin = "0px";
    </script>
</body>
</html>