<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>린미- 프로필 수정</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/myPage/profile.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css"/>
    <th:block th:replace="~{/fragments/header}" />

</head>
<body>
    <div class="profileContainer">
        <h2>프로필 수정</h2>
        <div class="profileContent">
            <form id="profile-form" th:action="@{/api/myPage/profile-update}" method="put" enctype="multipart/form-data">
    
                <div class="profileImgContainer">
                    <div class="profileImageBox">
                        <img class="user-ico" 
                            th:src="${session.memberInfo.profile != null ? session.memberInfo.profile : '/assets/img/profileimg.jpg'}" 
                            alt="프로필 이미지" />
                        <label for="profile" class="editButton">수정</label>
                    </div>
                    <input type="file" id="profile" name="profile" class="input-field hidden" />
                    <button name="delete-profile" id="delete-profile" value="Y" data-disabled="#profile" class="deleteButton">X</button>
                </div>

                
                <div class="profileForm">
                    <div class="input-container">
                        <label for="nickname">닉네임 <span class="required">*</span></label>
                        <!-- 닉네임 입력 창-->
                        <div class="nicknameContainer">
                            <input  th:value="${session.memberInfo.nickname}" type="text" name="nickname" id="nickname" class="input-field" placeholder="닉네임을 입력해주세요.">
                            <button type="button" class="inline-btn" id="nickname_unique_check">중복확인</button>
                            <input type="hidden" name="nickname_check" id= "nickname_check" value="Y"/>
                        </div>
                    </div>
                    <div class="noticeAlarm">
                        <p class="notice">• 닉네임은 2자 이상 12자 이하의 한글, 영문, 숫자로 입력해 주세요.</p>
                    </div>
                    <div class="buttonGroup">
                        <button type="button" class="cancelButton">취소</button>
                        <button type="submit" class="confirmButton" disabled>완료</button>
                    </div>
                </div>
            </form>
        </div>
    </div> 
    <footer>
        <th:block th:replace="~{/fragments/footer}" />
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    <script th:src="@{/assets/js/helperJs/RegexHelper.js}"></script>
    <script th:src="@{/assets/js/helperJs/UtilHelper.js}"></script>
    <script th:src="@{/assets/js/myPage/profile.js}"></script>
    <script>
        document.querySelector(".footerContainer").style.margin = "0 -500px";
    </script>
</body>
</html>



