<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>린미- 프로필 수정</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/myPage/profile.css}" />
    <th:block th:replace="~{/fragments/header}" />

</head>
<body>
    <div class="profileContainer">
        <h2>프로필 수정</h2>
        <div class="profileContent">
            <div class="profileImage">
                <img th:src="@{/assets/img/myPage/profileimg.png}">
                <button class="editButton">수정</button>
            </div>
            <div class="profileForm">
                <form>
                    <div class="formGroup">
                        <label for="nickname">닉네임 <span class="required">*</span></label>

                        <!-- 닉네임 입력 창-->
                        <div class="nicknameContainer">
                            <input type="text" name="nickname" id="nickname" class="input-field"placeholder="닉네임을 입력해주세요.">
                            <button type="button" class="checkButton" id="nickname_unique_check">중복확인</button>
                            <input type="hidden" name="nickname_check" id= "nickname_check" value="N"/>
                        </div>
                    </div>
                    <div class="noticeAlarm">
                        <p class="notice">• 닉네임은 2자 이상 12자 이하의 한글, 영문, 숫자로 입력해 주세요.</p>
                    </div>
                    <div class="buttonGroup">
                        <button type="button" class="cancelButton">취소</button>
                        <button type="submit" class="confirmButton" disabled>완료</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <th:block th:replace="~{/fragments/footer}" />
    </footer>
    <script th:src="@{/assets/js/myPage/profile.js}"></script>
    <script>
        document.querySelector(".footerContainer").style.margin = "0 -500px";
    </script>
</body>
</html>





<div class="profileContainer">
    <h2>프로필 수정</h2>
    <div class="profileContent">
        <div class="profileImage">
            <img th:src="@{/assets/img/myPage/profileimg.png}">
            <button class="editButton">수정</button>
        </div>
        <div class="profileForm">
            <form id="signup-form">
                <div class="formGroup">
                    <label for="nickname">닉네임 <span class="required">*</span></label>
                    <!-- 닉네임 입력 창-->
                    <div class="nicknameContainer">
                        <input
                            type="text"
                            name="nickname"
                            id="nickname"
                            class="input-field"
                            placeholder="닉네임을 입력해주세요."
                        />
                        <button type="button" class="checkButton" id="nickname_unique_check">
                            중복확인
                        </button>
                        <input type="hidden" name="nickname_check" id="nickname_check" value="N" />
                    </div>
                    <!-- 유효성 container -->
                    <div class="error-message" id="nickname-error"></div>
                </div>
                <div class="noticeAlarm">
                    <p class="notice">
                        • 닉네임은 2자 이상 12자 이하의 한글, 영문, 숫자로 입력해 주세요.
                    </p>
                </div>
                <div class="button-group">
                    <button type="button" class="cancelButton">취소</button>
                    <button type="submit" class="confirm-button" disabled>완료</button>
                </div>
            </form>
        </div>
    </div>
</div>
