<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linme</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/myPage/myPage.css}" />
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/myPage/profile.css}" />
</head>
<body>
    <!-- Header 영역 -->
    <header th:fragment="my-header">
        <link rel="stylesheet" th:href=@{/assets/css/header.css} />
    </header>
    <div class="profile-container">
        <h2>프로필 수정</h2>
        <div class="profile-content">
            <div class="profile-image">
                <img th:src="@{/assets/img/myPage/profileimg.png}" alt="프로필 이미지">
                <button class="edit-button">수정</button>
            </div>
            <div class="profile-form">
                <form>
                    <div class="form-group">
                        <label for="nickname">닉네임 <span class="required">*</span></label>
                        <div class="nickname-container">
                            <input type="text" id="nickname" placeholder="닉네임">
                            <button type="button" class="check-button">중복확인</button>
                        </div>
                    </div>
                    <p class="notice">닉네임은 2자 이상 12자 이하의 한글, 영문, 숫자로 입력해 주세요.</p>
                    <div class="button-group">
                        <button type="button" class="cancel-button">취소</button>
                        <button type="submit" class="confirm-button" disabled>완료</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer 영역 -->
    <footer th:fragment="my-header">
        <link rel="stylesheet" th:href=@{/assets/css/footer.css} />
    </footer>
</body>
</html>
