<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>린미 - 회원가입</title>
    <th:block th:replace="~{/fragments/header}" />
    <link rel="stylesheet" th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/signUp.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.13.1/dist/sweetalert2.min.css" />
</head>

<body>
    <main>
        <div class="container underTopMenu signUp">
            <div class="contents">
                <div class="signUpCover">
                    <div class="title">회원가입</div>
                    <ul class="inputDataCover">
                        <!-- 회원 정보 입력 -->
                        <form id="signup-form">
                            <li class="title">
                                <span class="text">회원 정보 입력</span>
                            </li>
                            <!-- 아이디 (이메일) 입력 // 완료 // 유효성 검사 완-->
                            <li class="inputDataItem">
                                <div class="label">
                                    <span>아이디 (이메일)</span>
                                </div>
                                <div class="userInput">
                                    <input type="email" class="email" id="user_id" name="user_id"
                                        placeholder="linme@linme.com" />
                                    <input type="hidden" name="checkEmail" id="id_check" value="N" />
                                    <button class="button duplicateCheck duplicateCheckID"
                                        id="id_unique_checkk">중복확인</button>
                                    <!-- 자바스크립트 구현 예정 -->
                                    <div class="guide">
                                        <!-- <div class="inputGuideWarn">필수 입력 항목입니다.</div> -->
                                    </div>
                                </div>
                            </li>
                            <!-- 닉네임 입력 // 완료 // 유효성 검사 완-->
                            <li class="inputDataItem">
                                <div class="label">
                                    <span>닉네임</span>
                                </div>
                                <div class="userInput">
                                    <input type="text" class="nickname" name="nickname" id="nickname"
                                        placeholder="닉네임을 입력해주세요." />
                                    <input type="hidden" name="checkNickname" id="nickname_check" value="N" />
                                    <button class="button duplicateCheck duplicateCheckNickName"
                                        id="nickname_unique_check">중복확인</button>
                                    <!-- 자바스크립트 구현 예정  -->
                                    <div class="guide">
                                        <div class="inputGuide">• 닉네임은 2자 이상 12자 이하의 한글, 영문, 숫자로 입력해 주세요.</div>
                                    </div>
                                </div>
                            </li>

                            <!-- 비밀번호 입력 // 완료 -->
                            <li class="inputDataItem">
                                <div class="label">
                                    <span>비밀번호</span>
                                </div>
                                <div class="userInput">
                                    <input type="password" class="pw" name="pw" id="pw" placeholder="비밀번호를 입력해 주세요." />
                                    <div class="pwShowHide close"></div>
                                    <div class="guide">
                                        <div class="inputGuide">• 8자 이상 20자 이하로 입력해 주세요.</div>
                                        <div class="inputGuide">• 영문, 숫자, 특수문자 포함 8자 이상의 비밀번호를 입력해 주세요.</div>
                                    </div>
                                </div>
                            </li>
                            <!-- 비밀번호 확인 입력 // 완료 -->
                            <li class="inputDataItem">
                                <div class="label">
                                    <span>비밀번호 확인</span>
                                </div>
                                <div class="userInput">
                                    <input type="password" class="pwCheck" name="pwCheck" id="pwCheck"
                                        placeholder="비밀번호를 한 번 더 입력해 주세요.">
                                    <div class="pwShowHide close"></div>
                                    <div class="guide">
                                        <div class="inputGuideWarn"></div>
                                    </div>
                                </div>
                            </li>

                            <!-- 회원 이름 -->
                            <li class="inputDataItem">
                                <div class="label">
                                    <span>회원이름</span>
                                </div>
                                <div class="userInput">
                                    <input type="text" class="userName" name="userName" id="userName"
                                        placeholder="회원이름을 입력해주세요." />
                                    <div class="guide">
                                        <div class="inputGuide">• 닉네임은 2자 이상 한글로 입력해 주세요.</div>
                                    </div>
                                </div>
                            </li>

                            <!-- 휴대폰 본인인증  -->
                            <li class="inputDataItem">
                                <div class="label">
                                    <span>휴대폰</span>
                                </div>
                                <div class="userInput">
                                    <input type="tel" class="tel" name="tel" id="tel" placeholder="전화번호를 입력해주세요." />
                                    <div class="guide">
                                        <div class="inputGuide">• 전화번호 양식: 01012345678</div>
                                    </div>
                                </div>
                            </li>

                            <!-- 주소 입력 // 완료-->
                            <li class="inputDataItem">
                                <div class="label">
                                    <span>주소</span>
                                </div>
                                <div class="userInput">
                                    <div>
                                        <input type="text" class="postcode" name="postcode" id="postcode" readonly=""
                                            placeholder="우편번호">
                                        <button type="button" class="button findPostCode" id="find-postcode">우편번호
                                            찾기</button>
                                    </div>
                                    <div>
                                        <input type="text" class="address1" name="addr1" id="addr1" readonly=""
                                            placeholder="주소를 검색하여 등록해 주세요." />
                                    </div>
                                    <div>
                                        <input type="text" class="address2" name="addr2" id="addr2"
                                            placeholder="나머지 주소를 입력해 주세요." />
                                        <div class="guide">
                                            <div class="inputGuideWarn"></div>
                                        </div>
                                    </div>
                                    <div class="guide">
                                        <div class="inputGuideWarn"></div>
                                    </div>
                                </div>
                            </li>
                    </ul>
                    <!-- 약관 동의 추가하기 -->
                    <button type="submit" class="button inputCompleted">가입하기</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <th:block th:replace="~{/fragments/footer}" />
    </footer>

    <!-- 헬퍼 가져오기 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.13.1/dist/sweetalert2.all.min.js"></script>
    <script th:src="@{/assets/js/helperJs/AxiosHelper.js}"></script>
    <script th:src="@{/assets/js/helperJs/RegexHelper.js}"></script>
    <script th:src="@{/assets/js/helperJs/UtilHelper.js}"></script>
    <!-- 푸터 0px로 붙게 -->
    <script>
        document.querySelector(".footerContainer").style.margin = "0px";
    </script>
    <!-- 다음 우편번호 검색 : https://postcode.map.daum.net/guide -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        // 우편번호 검색
        document.querySelector("#find-postcode").addEventListener("click", (e) => {
            e.preventDefault();
            utilHelper.findPostCode();
        });
    </script>

    <script>
        // 아이디(이메일) / 닉네임 유효성 검사
        document.querySelector("#id_unique_checkk").addEventListener("click", async (e) => {
            e.preventDefault();

            try {
                regexHelper.value("#user_id", "아이디(이메일)를 입력하세요");
            } catch (e) {
                await utilHelper.alertDanger(e.message);
                e.element.focus();
                return;
            }

            const userId = document.querySelector("#user_id").value;
            const data = await axiosHelper.get(`/api/account/id_unique_checkk`, {
                user_id: userId
            });

            if (data) {
                await utilHelper.alertSuccess("사용 가능한 아이디(이메일) 입니다.");
                document.querySelector("#id_check").value = "Y";
            }
        });


        // ++
        document.querySelector("#user_id").addEventListener("change", e => {
            document.querySelector("#id_check").value = "N";
        });

        document.querySelector("#nickname_unique_check").addEventListener("click", async (e) => {
            e.preventDefault();

            try {
                regexHelper.value("#nickname", "닉네임을 입력하세요");
            } catch (e) {
                await utilHelper.alertDanger(e.message);
                return;
            }

            const nickname = document.querySelector("#nickname").value;
            const data = await axiosHelper.get(`/api/account/nickname_unique_check`, {
                nickname: nickname
            });

            if (data) {
                await utilHelper.alertSuccess("사용 가능한 닉네임 입니다.");
                document.querySelector("#nickname_check").value = "Y";
            }
        });

        // ++
        document.querySelector("#nickname").addEventListener("change", e => {
            document.querySelector("#nickname_check").value = "N";
        });

        // 회원가입
        document.getElementById("signup-form").addEventListener("submit", async (e) => {
            e.preventDefault();

            // 입력값 유효성 검사

            try {
                regexHelper.value("#user_id", "아이디(이메일)를 입력하세요.");
                regexHelper.email("#user_id", "아이디(이메일)가 잘못되었습니다.");

                regexHelper.value("#nickname", "닉네임을 입력하세요.");
                regexHelper.nickName("#nickname", "닉네임은 한글, 영문, 숫자로 입력하세요.");
                regexHelper.maxLength("#nickname", 13, "닉네임은 2자 이상 12자 이하로 입력하세요.");
                regexHelper.minLength("#nickname", 1, "닉네임은 2자 이상 12자 이하로 입력하세요.");

                regexHelper.value("#pw", "비밀번호를 입력하세요");
                regexHelper.pwLinme("#pw", "비밀번호는 영문, 숫자, 특수문자를 포함하여 8자 이상으로 입력하세요.")
                regexHelper.maxLength("#pw", 21, "비밀번호는 8자 이상 20자 이하로 입력하세요");
                regexHelper.minLength("#pw", 7, "비밀번호는 자 이상 20자 이하로 입력하세요");
                regexHelper.compareTo("#pw", "#pwCheck", "비밀번호 확인이 잘못되었습니다");

                regexHelper.value("#userName", "회원이름을 입력하세요.");
                regexHelper.kor("#userName", "회원이름은 한글로만 입력하세요.");
                regexHelper.minLength("#userName", 1, "회원이름은 2자 이상으로 입력하세요.");

                regexHelper.value("#tel", "전화번호를 입력하세요");
                regexHelper.cellphone("#tel", "전화번호가 잘못되었습니다");

                regexHelper.value("#addr1", "주소를 입력하세요");
                regexHelper.value("#addr2", "상세주소를 입력하세요")

            } catch (e) {
                await utilHelper.alertDanger(e.message);

                setTimeout(() => e.element.focus(), 300);
                return;
            }

            const idCheck = document.querySelector("#id_check").value;
            const nicknameCheck = document.querySelector("#nickname_check").value;

            if (idCheck === "N") {
                utilHelper.alertWarning("이메일 중복 검사를 진행해주세요.");
                return;
            }

            if (nicknameCheck === "N") {
                utilHelper.alertWarning("닉네임 중복 검사를 진행해주세요.");
                return;
            }

            const formData = new FormData(e.currentTarget);

            const data = await axiosHelper.postMultipart("[[@{/api/account/join}]]", formData);

            // 나중에 경로 수정하기
            if (data) {
                window.location = "[[@{/main/main}]]";
            }

            // alert("회원가입 처리 기능이 실행됩니다.");
        });
    </script>
</body>

</html>