.findId {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: center
}

.findId .title {
    color: #333;
    font-size: 30px;
    font-weight: 700;
    height: fit-content;
    padding-top: 112px;
    text-align: center
}

.findId .button {
    border: 1px solid #ff697b;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    font-size: 22px;
    font-weight: 500;
    height: 46px;
    padding-top: 5px;
    text-align: center;
    width: 309px
}
.findId .button.certification {
    background-color: #ff697b;
    color: #fff;
    margin: 40px auto
}

.findId .findOn .description {
    color: #787878;
    font-size: 16px;
    font-weight: 400;
    height: fit-content;
    margin-top: 40px;
    text-align: center
}