/*************************/
/* 토글버튼 */
/*************************/
.Topbutton {
  position: fixed;
  right: 63px;
  z-index: 1000;
  bottom: 30px;
}

.Topbutton img {
  width: 40px;
}

/*************************/
/* header 전체영역 */
/*************************/
.headerBackground {
  /* background-color:brown; */
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: 170px;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid rgb(243, 243, 243);
  padding-top: 10px;
  right: 1px;
  z-index: 1000;
  top: 0;
}

.headerContainer {
  /* border: solid 1px rgb(16, 15, 15); */
  height: 160px;
  width: 1200px;
  margin: 0 auto;
  /*************************/
  /* 로그인, 회원가입, 고객센터 전체영역 */
  /*************************/
  .headerBoxFirst {
    /* border: solid 1px brown; */
    position: relative;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ul {
      display: flex;
      font-size: 13px;
      font-weight: 500;

      li {
        text-decoration: none;
        margin-left: 10px;
        position: relative;

        a {
          color: #707070;
        }
      }
    }
  }

  .headerBoxFirst li::after {
    content: "|";
    margin-left: 4px;
    color: #e6e6e6;
  }

  .headerBoxFirst li:last-child::after {
    content: ""; /*마지막 | 지우기*/
    margin: 0;
  }

  /* 고객센터 클릭시 드롭다운 */
  .topLayer {
    display: none;
    position: absolute;
    top: 100%; /* 부모 아래에 위치 */
    right: 0;
    z-index: 1000;
    width: 100px;
    height: 90px;
    font-size: bold;
    color: #707070;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    box-shadow: 0 1px 2px 0 #b2b2b24d;
  }

  .topLayer .item {
    margin: 8px;
    cursor: pointer;
  }

  .topLayer .item:hover {
    text-decoration: underline;
    color: black;
  }

  /*************************/
  /* header-main 영역 */
  /*************************/

  /* headerBoxSecond 영역 */
  .headerBoxSecond {
    /* border: solid 1px brown; */
    height: 70px;
    display: flex;
    align-items: center;
  }

  /* 린미 로고 */
  .hearderLogo {
    width: 84px;
    height: 43px;
    margin-top: 10px;
  }

  /* 인풋 전체영역 */
  .searchForm {
    position: relative;
    width: 80%;
    /* flex-grow: 1; */
  }

  .searchContainer {
    width: 90%;
    margin-left: 50px;
    position: relative;
    margin-top: 25px;
  }

  .searchInput {
    width: 100%;
    height: 45px;
    color: #333;
    padding: 10px 45px 10px 20px;
    border: 1px solid #ff697b;
    border-radius: 5px;
    font-size: 15px;
  }

  /* 돋보기영역 */
  #searchButton {
    background: transparent;
    border: none;
    cursor: pointer;

    /* 돋보기버튼*/
    .search {
      position: absolute;
      right: 15px;
      width: 20px;
      height: 20px;
      top: 10px;
      cursor: pointer;
    }
  }

  /* icon 영역 */
  .icon {
    width: 30px;
    height: 25px;
    margin: 0 8px;
  }
}

/*************************/
/* header-bottom 영역 */
/*************************/
.headerBoxend {
  /* border: 1px solid rebeccapurple; */
  height: 50px;
  position: relative;
  display: flex;
}

/* 햄버거 버튼 */
.navbar-toggler {
  /* background-color: rgb(234, 170, 170); */
  border: none;
  display: flex;
  align-items: center;
  padding: 0;

  /*포커스 할때 나오는 박스 그림자 제거 */
  &:focus {
    box-shadow: none;
  }
}

/* 햄버거버튼 이미지 */
.togglerIcon {
  margin-right: 12px; /* 아이콘과 텍스트 간격 */
  width: 21px;
  height: 18px;
}

/* 카테고리 */
.navbar-brand {
  z-index: 1000;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  cursor: pointer;
}

/* 카테고리 클릭시 드롭다운 */
.list-group {
  border-radius: 0;
  border: 1px solid #f3f3f3;
  max-height: 600px;
  width: 350px;
  overflow-y: auto; /* 스크롤 */
  position: absolute;
  top: 100%; /*부모 아래에 위치*/
}

/* 카테고리 리스트 기본 숨김 처리 */
#categoryList {
  display: none;
}

.list-group-item {
  background-color: #fdfdfd;
  border-style: none;
  padding: 16px 30px;
  font-size: 15px;
  cursor: pointer;

  a {
    color: #333;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
  }
}
.list-group-item:hover {
  background-color: #f0f0f0;
}

/* 신상품 베스트 특가상품 영역   */

.headerItem {
  /* background-color: rgb(241, 200, 200); */
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.navMenu {
  display: flex;
  gap: 150px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 100px;
}

/* 신상품, 베스트, 특가상품 각각의 메뉴를 클릭했을때의 css */
.activate {
  color: #ff697b !important;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid #ff697b;
  padding-bottom: 2px;
}

.deactivate {
  color: #707070;
  font-size: 15px;
  font-weight: 600;
  border-bottom: none;
}

/*******************************/
/* header / categoryList css */
/*******************************/

/*  카테고리전체 텍스트 박스 영역 */

.categorylist {
  width: 1200px;
  display: flex;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 100px;
}

/* 작은박스 css*/
.list {

  display: flex;
  background-color: #f8f8f8;
  width: 1180px;
  border-radius: 5px;
  margin: auto;
  flex-wrap: wrap;
  line-height: 40px;
}

/* 텍스트 css*/
.textlist {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  padding: 17px 25px;
}

.coloractive {
  color: #ff8181;
}


/*******************************/
/* header / new best spacial css */
/*******************************/
.headerNBS{
margin-top: 200px;
}