/* pretendard 웹폰트 css에서 사용하기 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

main {
  font-family: pretendard;
  display: block;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  width: 100%;
}

.container {
  height: fit-content;
  margin: 0 auto;
  width: 1080px;
  background-color: #efefef;
  height: fit-content;
  padding-bottom: 25px;
}

body div,
html div {
  display: block;
  position: relative;
  width: 100%;
}

/* -------------- 주문/결제 단계 -------------- */

.progressStageCart {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  padding-top: 50px;
}

.progressStageCart * {
  box-sizing: border-box;
  height: auto;
  width: auto;
}

.progressStageCart .progressStep {
  color: #b6b6b6;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-weight: 700;
  gap: 10px;
  height: 100%;
  letter-spacing: -0.5px;
  line-height: 0.8;
  margin: initial;
  text-align: center;
  width: 33%;
}

.progressNumber {
  color: #b6b6b6;
}

.progressStageCart .progressStep:before {
  background-color: #e6e6e6;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 100%;
}

/* -------------- 주문/결제 단계 위치 조절 -------------- */

.progressStageCart .progressStep.step1 {
  align-items: flex-start;
}

.progressStageCart .progressStep.step2 {
  align-items: center;
}

.progressStageCart .progressStep.step3 {
  align-items: flex-end;
}

.progressStageCart .progressStep.step3 .progressName {
  right: -20px;
}

.progressStageCart .progressStep .progressNumberCover {
  background-color: #e6e6e6;
  border-radius: 25px;
  height: 43px;
  width: 43px;
  z-index: 1;
}

.progressStageCart .progressStep .progressNumberCover .progressNumber {
  height: fit-content;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 43px;
}

.progressStageCart .progressStep .progressName {
  color: #d2d2d2;
  font-size: 20px;
  font-weight: 600;
  height: fit-content;
  letter-spacing: -0.44px;
  width: 80px;
}

.progressStageCart .progressStep.on .progressNumberCover {
  background-color: #ff8181;
}

.progressStageCart .progressStep.on .progressNumberCover .progressNumber {
  color: #fff;
}

.progressStageCart .progressStep.on .progressName {
  color: #ff8181;
}

.progressStageCart .progressStep.on:after {
  background-color: #ff8181;
  content: "";
  height: 3px;
  left: 43px;
  position: absolute;
  top: 20px;
  width: 100px;
  z-index: auto;
}

.progressStageCart .progressStep.step2.on:after {
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
}

.progressStageCart .progressStep.step3.on:after {
  left: auto;
  right: 0;
}

/* -------------- 주문/결제 및 전체 합계 -------------- */

/* -------------- 주문/결제 및 전체 합계의 간격 조절 -------------- */
.paymentContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* -------------- 1. 주문/결제 정보(데이터) 크기 조절 -------------- */
.paymentData {
  background-color: #fff;
  border-radius: 10px;
  height: fit-content;
  padding: 45px 30px 10px;
  width: 780px;
}

/* 배송지 */
.deliveryInfo {
  width: 720px;
  height: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.paymentContainer .paymentData .deliveryInfo .title {
  color: #333;
  font-size: 20px;
  font-weight: 400;
  height: fit-content;
  letter-spacing: -0.4px;
  line-height: 1;
}

/* 상품 */
.checkOrderProduct {
  width: 720px;
  height: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
.OrderProductTitle {
  color: #333;
  font-size: 20px;
  font-weight: 400;
  height: fit-content;
  letter-spacing: -0.4px;
  line-height: 1;
}

/* 쿠폰 */
.couponInfo {
  width: 720px;
  height: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
.couponTitle {
  color: #333;
  font-size: 20px;
  font-weight: 400;
  height: fit-content;
  letter-spacing: -0.4px;
  line-height: 1;
}

/* 결제수단*/
.paymentMethod {
  width: 720px;
  height: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
.paymentMethodTitle {
  color: #333;
  font-size: 20px;
  font-weight: 400;
  height: fit-content;
  letter-spacing: -0.4px;
  line-height: 1;
}

/* -------------- 1-1. 주문/결제 타이틀 -------------- */

/* -------------- [주문/결제 타이틀] 크기 --------------*/
.paymentTitle {
  color: #333;
  font-size: 30px;
  font-weight: 700;
  height: fit-content;
  letter-spacing: -0.6px;
  line-height: 0.67;
  width: fit-content;
  margin-bottom: 60px;
}

/* -------------- 1-2. 배송지 정보 -------------- */
/* 인풋 타입 공통 */
html input[type="text"] {
  background-color: #fff;
  border: initial;
  border-radius: 3px;
  color: #333;
  font-family: Pretendard, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  line-height: 2.71;
  outline-color: #d2d2d2;
  outline-style: solid;
  outline-width: 1px;
  padding: 11px 18px 10px;
}

/* 읽기 전용 일때 */
input[type="text"]:read-only {
  background-color: #f3f3f3;
}

/* -------------- 변경 --------------*/
.changeDeliveryInfo {
  color: #ff8181;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  height: fit-content;
  letter-spacing: -0.28px;
  line-height: 1.43;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  width: fit-content;
}

/* ul 정리 */
/* 배송지 정보 리스트 */
.addressBookInfoList {
  border-bottom: 1px solid #8d8d8d;
  border-top: 1px solid #8d8d8d;
  height: fit-content;
  margin-top: 15px;
}

/* 쿠폰 */
.couponInfo ul {
  border-bottom: 1px solid #8d8d8d;
  border-top: 1px solid #8d8d8d;
  height: fit-content;
  margin-top: 15px;
}

/* 결제수단 */
.paymentMethodList {
  border-bottom: 1px solid #8d8d8d;
  border-top: 1px solid #8d8d8d;
  height: fit-content;
  margin-top: 15px;
}

/* -------------- 배송지 정보 리스트 --------------*/

/* 정가운데 배치 */
.addressBookInfoItem {
  border-bottom: 1px solid #b2b2b266;
  display: table;
  height: 50px;
  width: 100%;
}

/* 배송지명 앞에 별 (*) */
.paymentData li .label ::after {
  background-image: image-set(
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGBAMAAAAS4vJ7AAAAFVBMVEX/gYH/gYH/gIBHcEz/gYH/gYH/gYGbfoyUAAAABnRSTlOQo2AA4MC6ezLLAAAAGUlEQVQI12MwDjVmEBBgZFBJcwJjEBsoBgAnugNRf8iQCQAAAABJRU5ErkJggg==)
      1x
  );
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: 6px;
  left: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
}

.paymentData .label {
  display: table-cell;
  vertical-align: middle;
  background-color: #f3f3f3;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.32px;
  line-height: 1.25;
  padding-left: 36px;
  width: 182px;
  height: 50px;
  padding: 0 0 0 36px;
}

.paymentData li .data {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  padding: 0 32px 0 32px;
  width: calc(100% - 214px);
}

/* 배송 요청사항 */
.paymentData li form {
  display: flex;
  flex-direction: column;
}

.paymentData li .dropdown {
  width: 100%;
  padding: 5px;
  margin: 20px 0 10px 0;
  height: 37px;
}

.paymentData li .memo {
  width: 100%;
  padding: 10px;
  margin: 0 0 20px 0;
  height: 30px;
}

/* -------------- 1-4. 쿠폰 할인 적용 -------------- */
.couponInfo input {
  width: 292px;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  height: 33px;
  letter-spacing: -0.32px;
  line-height: normal;
  padding: 7px 10px;
  text-align: left;
}

/* -------------- 1-5. 결제수단 선택 -------------- */
.paymentMethodList {
  background-color: #f8f8f8;
  display: flex;
  width: 100%;
}

.paymentMethodItem {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  letter-spacing: -0.28px;
  line-height: normal;
  padding: 16px 0 0 70px;
  position: relative;
  text-align: left;
  width: fit-content;
}

html input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-repeat: no-repeat;
  background-size: 15px 15px;
  cursor: pointer;
  padding-left: 23px;
  background-image: image-set(
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPBAMAAADJ+Ih5AAAAMFBMVEVHcEz/dnb/oqL/y8v/lJT/h4f/lZX/lZX/lZX/5ub/gYH/+Pj/iIj/sLD/mJj///8Dr3V+AAAACXRSTlMABsrs1Faqq60fiGI8AAAAZElEQVQI12NgYAh3cg9gAAIJy/07zQUYGBg19756u1ORgYFj5qlVq05OY2AI3rNq1ao1mwMYKm8BGatuJjB4vwIxXjsw6IPoVesVECJwNXBd7DBz4CYziAHtMhMA2Rrm5Aa0HQDSwDgnip9isgAAAABJRU5ErkJggg==)
      1x
  );
}
/* -------------- 2. 전체 합계 및 이용약관 -------------- */

.paymentTotalContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* -------------- 2-1. 전체 합계 크기 조절 -------------- */

.paymentTotalInfo {
  background-color: #fff;
  border-radius: 10px;
  height: fit-content;
  padding: 25px 20px;
  width: 280px;
}

/* -------------- [전체 합계 타이틀] 크기 --------------*/
.paymentTotalContainer .title {
  color: #333;
  font-size: 25px;
  font-weight: 700;
  height: fit-content;
  letter-spacing: -0.5px;
  line-height: 0.8;
}

.paymentTotalInfo ul li {
  border-bottom: 1px solid #b2b2b266;
  display: flex;
  height: fit-content;
  padding: 18px 20px 16px;
  width: 240px;
}

.paymentTotalInfo ul li:first-child {
  margin-top: 20px;
  border-top: 1px solid #8d8d8d;
}

.paymentTotalInfo .label {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  height: fit-content;
  letter-spacing: -0.28px;
  line-height: 1.43;
}

.paymentTotalInfo .price {
  color: #333;
  display: flex;
  font-family: Noto Sans KR, sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: fit-content;
  letter-spacing: -0.32px;
  line-height: 1.25;
  text-align: center;
  width: fit-content;
}

.paymentTotalInfo .price span {
  display: block;
  font-family: Pretendard, sans-serif;
  margin: 2px 0 0 2px;
}

/* 전체 주문 금액 */
.paymentTotalInfo .orderTotal {
  background-color: #f8f8f8;
  display: flex;
  height: fit-content;
  margin: 14px 0 19px;
  padding: 18px 20px 16px;
  width: 240px;
}

.paymentTotalInfo .price.orderPriceTotal {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  height: fit-content;
  letter-spacing: -0.4px;
  line-height: 1;
}

/* 결제하기 버튼 */
.paymentTotalInfo .button.buy.cover {
  background-color: #ff8181;
  border-radius: 4px;
  display: flex;
  height: 49px;
  margin: 0 auto;
  width: 209px;
  cursor: pointer;
}

.paymentTotalInfo .button.buy.cover .buttonInner {
  display: flex;
  height: fit-content;
  margin: 0 auto;
  width: fit-content;
}

.paymentTotalInfo .button.buy.cover .buttonInner .label {
  color: #fff;
  display: block;
  font-size: 28px;
  font-weight: 500;
  height: fit-content;
  letter-spacing: -0.56px;
  line-height: 1.43;
  margin-top: 5px;
  width: fit-content;
}

/* -------------- 1-3. 주문상품 -------------- */

/* 테두리 둥글게 */
.combinedProductList {
  display: block;
  border: 1px solid #e6e6e6;
  border-radius: 14px;
  margin-top: 16px;
}

/* 상단 */
.productItem {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  box-sizing: border-box;
  display: flex;
  padding: 20px 10px;
  position: relative;
  width: 100%;
}

/* 상품 상단 */
.combinedProductList {
  /* 상단 둥글게 */
  .title {
    background-color: #f3f3f3;
    padding: 15px;
    text-align: center;

    /*상품정보*/
    .productTitle {
      width: 100%;
    }
    /* 판매가 */
    .salePriceInfoTitle {
      width: 150px;
    }

    /* 구매가 */
    .priceInfo {
      width: 150px;
    }

    /* 배송비 */
    .deliveryPriceInfo {
      width: 150px;
    }
  }

  /* 총배송비 */
  .cardDeliveryPrice {
    background-color: #f5f5f5;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;

    .cardDeliveryPriceItem {
      font-size: 16px;
      font-weight: 500;
      width: fit-content;
    }
  }
}

/* 구매상품 정보 */
.detail {
  text-align: center;
  vertical-align: middle;
  align-items: center;

  /* 상품정보 */
  .product {
    display: flex;
    gap: 10px;
    height: 100%;
    position: relative;

    /* 상품 이미지 */
    .productImageCover {
      width: 124px;
    }
  }

  /* 상품 브랜드/상품명/개수 */
  .productItemNameNo {
    text-align: start;
    height: 124px;
  }
  /*판매가*/
  .salePriceInfo {
    width: 150px;
  }
  /*구매가/원가*/
  .priceInfo {
    width: 150px;
  }
  /*배송비*/
  .deliveryPriceInfo {
    width: 150px;
  }
}

.top-solidline {
  border: 1px solid #b6b6b6;
  height: 20px;
  width: 0;
}
