/* pretendard 웹폰트 css에서 사용하기 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 공통css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0 !important;
}

a {
  text-decoration: none;
}

/* main */
main {
  font-family: pretendard;
  color: #333;
  margin-top: 175px;
  display: block;
  height: 100%;
  padding-top: 50px;
  background-color: #efefef;
  z-index: -10;
  padding-bottom: 50px;

  /* 주문/결제 컨테이너 */
  .paymentContainer {
    margin: 0 auto;
    width: 1200px;

    /* 단계 : 주문/결제 */
    .paymentProgress {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;

      .progressStep {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &.on::before {
          position: absolute;
          background-color: #e6e6e6;
          content: "";
          height: 3px;
          top: 20px;
          width: 1080px;
        }

        /* 단계 원 */
        .circle {
          width: 43px;
          height: 43px;
          border-radius: 50%;
          background-color: #e6e6e6;
          color: #b6b6b6;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 10px;

          /* 장바구니 */
          &.on {
            background-color: #ff8181;
            color: #fff;
            z-index: 1;
          }
        }

        /* 단계 텍스트 */
        .progressStepText {
          color: #d2d2d2;
          font-size: 20px;
          font-weight: 600;
          height: fit-content;
          letter-spacing: -0.44px;
          width: 80px;
          text-align: center;

          /* 장바구니 */
          &.on {
            color: #ff8181;
          }
        }
      }
    }

    /* 메인 : 주문결제 및 전체합계 */
    .paymentMainContainer {
      display: flex;
      margin: 0 auto;
      justify-content: space-between;

      /* 주문결제 */
      .paymentInfo {
        width: 850px;
        height: auto;
        background-color: #fff;
        border-radius: 10px;
        padding: 30px;
        display: flex;
        flex-direction: column;

        /* 주문결제 타이틀 */
        .paymentTitle {
          color: #333;
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 20px;
        }

        /* 배송지 정보 */
        .deliveryInfo {
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;

          /* 배송지 정보 타이틀 */
          .deliveryTitle {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 10px;
          }

          /* 배송지 정보 내용 */
          .deliveryList {
            border: 1px solid #e6e6e6;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            text-align: center;
            justify-items: center;
            vertical-align: middle;
            border-bottom: 1px solid #8d8d8d;
            border-top: 1px solid #8d8d8d;

            /* li 전체 적용*/
            li {
              display: flex;
              border-bottom: 1px solid #e6e6e6;

              /* 마지막 줄 스타일 제거*/
              &:last-child {
                border-bottom: none;
              }

              /* 타이틀 */
              span {
                display: flex;
                align-items: center;
                width: 170px;
                height: auto;
                background-color: #f3f3f3;
                font-size: 16px;
                font-weight: 700;
                padding-left: 20px;
                text-align: left;

                &::before {
                  content: "*";
                  color: #ff8181;
                  margin-right: 10px;
                }

                &.noRequired::after {
                  content: "";
                }
              }

              /* 내용 */
              a {
                width: auto;
                display: flex;
                align-items: center;
                height: 50px;
                font-size: 14px;
                padding-left: 30px;
                text-align: left;
                letter-spacing: -0.7px;
              }
            }

            /* 배송요청사항 */
            .deliveryRequest {
              height: auto;

              /* 배송요청사항 타이틀 */
              .noRequired {
                span {
                  &::before {
                    content: "";
                  }
                }
              }

              /* 배송요청사항 선택 영역 */
              .selectDeliveryMsg {
                font-size: 15px;
                width: 618px;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding: 20px 30px;
                align-items: start;

                /* 선택 옵션 */
                .selectDeliveryMsgOption {
                  box-sizing: border-box;
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                  border: 1px solid #ccc;
                  border-radius: 3px;
                  background-color: #fff;
                  color: #333;
                  padding: 10px;

                  /* 선택 옵션 타이틀 */
                  option {
                    &:hover {
                      color: #ff8181;
                      background-color: #f8f8f855;
                    }
                  }
                }

                /** 배송요청사항 입력 영역 */
                .inputContainer {
                  width: 100%;

                  input {
                    width: 100%;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    background-color: #fff;
                    color: #333;
                    padding: 10px;
                    margin-top: 5px;

                    /* 포커스 시 스타일 */
                    &:focus {
                      border-color: #ff8181;
                      outline: none;
                    }
                  }
                }
              }
            }
          }
        }

        /* 주문상품 확인 */
        .OrderCheckInfo {
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;

          /* 주문상품 확인 타이틀 */
          .OrderCheckTitle {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 10px;
          }

          /* 주문상품 확인 내용 */
          .OrderCheckList {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            .OrderCheckItem {
              width: 100%;
              margin-bottom: 20px;

              /* 상단 */
              .OrderCheckItemTop {
                width: 100%;
                background-color: #f3f3f3;
                height: 50px;
                min-height: 0;
                min-height: auto;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-top: 1px solid #e6e6e6;
                display: flex;
                flex-direction: row;
                align-items: center;
                border: 1px solid #e6e6e6;
                border-bottom: none;

                span {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: #333;
                  font-size: 14px;
                  font-stretch: normal;
                  font-style: normal;
                  font-weight: 500;
                  letter-spacing: -0.28px;
                  line-height: 1.43;
                  padding-left: 0;
                  height: 50px;
                  text-align: center;

                  &:first-child {
                    width: 480px;
                    border-right: 1px solid #b2b2b266;
                  }

                  &:nth-child(2) {
                    width: 150px;
                    border-right: 1px solid #b2b2b266;
                  }

                  &:nth-child(3) {
                    width: 150px;
                  }
                }
              }

              /** 센터 */
              .OrderCheckItemCenter {
                display: flex;
                border: 1px solid #e6e6e6;
                height: 150px;

                /* 첫번째 박스 : 이미지/상품상세 */
                .OrderCheckItemBox {
                  width: 480px;
                  padding: 20px;
                  border-right: 1px solid #b2b2b266;
                  display: flex;

                  .OrderCheckItemInfo {
                    display: flex;

                    .OrderCheckItemDetailInfo {
                      display: flex;
                      flex-direction: column;
                      justify-content: top;
                      padding-left: 20px;

                      /* 브랜드명 */
                      span {
                        &:first-child {
                          color: #333;
                          font-size: 16px;
                          font-stretch: normal;
                          font-style: normal;
                          font-weight: 500;
                          letter-spacing: -0.32px;
                          line-height: 1.5;
                          margin-bottom: 10px;
                          text-align: left;
                        }

                        &:nth-child(2) {
                          font-size: 18px;
                          font-stretch: normal;
                          font-style: normal;
                          font-weight: 500;
                          letter-spacing: -0.36px;
                          line-height: 1.11;
                          text-align: left;
                        }
                      }
                    }
                  }
                }

                /* 두번째 박스 : 판매가 */
                .price {
                  width: 100px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-right: 1px solid #b2b2b266;
                  font-size: 15px;
                  font-weight: 400;
                  letter-spacing: -0.3px;
                  line-height: 1.33;
                  text-align: center;
                }

                /* 세번째 박스 : 수량 */
                .salePriceBox {
                  width: 150px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  border-right: 1px solid #b2b2b266;

                  .lineThrough {
                    color: #b6b6b6;
                    font-size: 12px;
                    font-weight: 400;
                    height: fit-content;
                    letter-spacing: -0.24px;
                    line-height: 1.67;
                    text-decoration: line-through;
                  }

                  .salePrice {
                    font-size: 15px;
                    font-weight: 400;
                    height: fit-content;
                    letter-spacing: -0.3px;
                    line-height: 1.33;
                    text-align: center;
                  }
                }

                /* 네번째 박스 : 배송비 */
                .deliveryPriceBox {
                  width: 150px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 15px;
                  font-weight: 700;
                  letter-spacing: -0.3px;
                  line-height: 1.33;
                }
              }

              /* 하단 */
              .OrderCheckItemBottom {
                display: flex;
                justify-content: space-between;
                padding: 15px 25px;
                background-color: #f5f5f5;
                border-bottom-left-radius: 10px; /* 하단 왼쪽 모서리를 둥글게 설정 */
                border-bottom-right-radius: 10px; /* 하단 오른쪽 모서리를 둥글게 설정 */
                overflow: hidden; /* 내부 요소가 border-radius에 맞게 잘리도록 설정 */
                border: 1px solid #e6e6e6;
                border-top: none;

                span {
                  font-size: 16px;
                  font-weight: 500;
                  width: fit-content;

                  &:nth-child(2) {
                    font-weight: 700;
                  }
                }
              }
            }
          }
        }

        /* 쿠폰 할인 적용 */
        .couponInfo {
          margin-bottom: 20px;
          /* 쿠폰 할인 적용 타이틀 */
          .couponTitle {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 10px;
          }

          /* 쿠폰 할인 내용 */
          .couponContent {
            display: flex;
            width: auto;
            height: auto;
            border: 1px solid #e6e6e6;
            border-bottom: 1px solid #8d8d8d;
            border-top: 1px solid #8d8d8d;

            span {
              display: flex;
              align-items: center;
              width: 170px;
              height: auto;
              background-color: #f3f3f3;
              font-size: 16px;
              font-weight: 700;
              padding-left: 30px;
              text-align: left;
            }

            .noCoupon {
              display: flex;
              align-items: center;
              padding: 10px;
              .couponText {
                width: 292px;
              }

              input[type="text"] {
                color: #e6e6e6;
                font-weight: 400;
                height: 30px;
                letter-spacing: -0.32px;
                padding: 7px 10px;
                text-align: left;
                border-radius: 5px;
                border: 1px solid #e6e6e6;
                background-color: #f3f3f3;

                /* 포커스 시 스타일 */
                &:focus {
                  border-color: #ff8181;
                  outline: none;
                }
              }
            }
          }
        }

        /** 결제수단 선택 */
        .paymentMethodInfo {
          .paymentMethodTitle {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 10px;
          }

          .paymentMethod {
            background-color: #f8f8f8;
            border-bottom: 1px solid #8d8d8d;
            border-top: 1px solid #8d8d8d;
            display: flex;
            height: fit-content;
            margin-top: 15px;
            width: 100%;
            display: flex;
            width: 100%;
            height: 50px;
            align-items: center;
            padding: 0 50px;

            input[type="radio"] {
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              width: 13px;
              height: 13px;
              border: 1px solid #ccc;
              border-radius: 50%;
              outline: none;
              cursor: pointer;
            }

            input[type="radio"]:checked {
              background-color: #ff8181;
              border: 3px solid white;
              box-shadow: 0 0 0 1.6px #ff8181;
            }

            .methodCard {
              padding: 10px;
            }
          }
        }
      }

      /* 전체합계 */
      .paymentTotal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 320px;
        height: 220px;
        padding: 30px;
        border-radius: 10px;
        background-color: #fff;
        position: sticky;
        top: 200px;

        /* 전체 주문금액 타이틀 */
        .paymentTotalTitle {
          color: #333;
          font-size: 25px;
          font-weight: 700;
          height: fit-content;
          letter-spacing: -0.5px;
          line-height: 0.8;
          margin-bottom: 20px;
        }

        /* 전체 주문금액 */
        .totalPrice {
          display: flex;
          justify-content: space-between;
          padding: 10px;
          background-color: #f8f8f8;
          margin-bottom: 20px;

          span {
            font-size: 15px;
          }

          /* 금액 텍스트 */
          .totalPriceText {
            font-size: 20px;
            font-weight: 600;
          }
        }

        /* 결제하기 버튼 */
        .orderBtn {
          background-color: #ff8181;
          border-radius: 4px;
          display: flex;
          height: 49px;
          margin: 0 auto;
          width: 209px;
          justify-content: center;
          cursor: pointer;

          span {
            color: #fff;
            display: block;
            font-size: 28px;
            font-weight: 500;
            height: fit-content;
            letter-spacing: -0.56px;
            line-height: 1.43;
            margin-top: 5px;
            width: fit-content;
          }
        }
      }
    }
  }
}
