/* ---------------------------------------------*/
/* ---------------상품 이미지 css// -----------------*/
/* ---------------------------------------------*/

/* 상세페이지 이미지&주문영역 */
.view-top {
  margin: 0 auto;
  position: relative;
  display: flex;
  width: 1200px;
  margin-top: 70px;
  /* border: 2px solid palevioletred; */
}

/* 메인 이미지 설정 */
.mySwiper2 {
  /* border: 5px solid red; */
  height: 100%;
  
}
.main-img img {
  /* border: 5px solid rgb(20, 2, 2); */
  width: 500px;
  height: 503px;
  object-fit: cover;
  margin-left: 70px;
}

/* 미리보기 이미지 설정*/
.mySwiper {
  /* border: 5px solid rgb(24, 239, 0); */
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
}
.side-img {
  margin-bottom: 10px;
  img {
    width: 137px;
    height: 137px;
    object-fit: cover;
  }
}

.swiper-thumbs{
  margin-top: 0;
}

/* 미리보기 이미지 흐림효과 */
.mySwiper .swiper-slide {
  width: 100%;
  height: auto;
  opacity: 0.4;
}

/* 미리보기이미지영역에서 메인이미지해당하는 이미지는 진함효과 */
.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

/* 미리보기 이미지 세로정렬 */
.side-contents {
  display: block;
}

/* 버튼 스타일 */
.swiper-button-next img,
.swiper-button-prev img {
  position: absolute;
  top: 250px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.swiper-button-next {
  left: 56%;
}

.swiper-button-prev {
  left: 50%;
}
/* 기본버튼숨기기 */
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* ---------------------------------------------*/
/* ---------------상품주문 디테일영역----------------*/
/* ---------------------------------------------*/

/* 컨테이너 스타일 */
.product-container {
  /* border: 5px solid rgb(24, 239, 0); */
  margin-right: 50px;
  width: 330px;
  margin-top: 180px;

  ul {
    padding: 0;
  }
}

.productInfoItem {
  font-size: 15px;
  margin-bottom: 10px;
}

.brandName {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: -0.75px;
  color: #787878;
}

.productName {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.11;
  letter-spacing: -0.9px;
  color: #333;
}

.arrow {
  width: 13px;
  height: 13px;
  margin-bottom: 2px;
  margin-left: 10px;
}

/* 할인율 */
.discountRate {
  margin-top: 15px;
  color: #ff697b;
  font-size: 20px;
  font-weight: 900;
}

/* 원래가격 */
.originalPrice {
  color: #b6b6b6;
  font-size: 20px;
  margin-left: 7px;
}

/* 판매금액 */
.salePrice {
  font-size: 30px;
  font-weight: 900;
  color: #333;
  margin-top: 15px;
}
.salePrice::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d2d2d2;
  margin-top: 10px;
}

.deliver {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.07;
  letter-spacing: -0.28px;
  color: #787878;
  margin-bottom: 12px;
}

.shippingInfo {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.07;
  letter-spacing: -0.28px;
  color: #333;
  margin-top: 10px;

  span {
    color: #b6b6b6;
    margin: 0 7px;
  }
}

.shipping {
  margin-top: 10px;
}

.shipping::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d2d2d2;
  margin-top: 10px;
}

.required-Info {
  width: 99px;
  height: 27px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.07;
  letter-spacing: -0.3px;
  color: #8d8d8d;
  text-align: center;
  border: solid 0.8px #d2d2d2;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;
}

/* 필수 표기 정보 버튼 밑에 선 */
.required-Info::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 15px;
  left: 0;
  width: 330px;
  height: 1px;
  background-color: #d2d2d2;
}

/* 수량 버튼 */
.number-control {
  width: 95px;
  height: 27px;
  border: solid 1px #d2d2d2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 3px;
}

.minus,
.plus {
  width: 45px;
  height: 100%;
  /* background-color: #d77777; */
  padding-left: 7px;
  padding-right: 7px;
  border: none;
  background: transparent;
  font-size: 20px;
  color: #d2d2d2;
  cursor: pointer;
  line-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minus::after {
  content: "-";
  margin-top: -2px;
}

.plus::before {
  content: "+";
}

.number {
  /* background-color: #c41818; */
  width: 40px;
  text-align: center;
  font-size: 15px;
  color: #333;
}

/* 총 금액 */
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  font-size: 18px;
  color: #ff697b;
  font-weight: 900;
  letter-spacing: -0.3px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ff697b;
}

.total-price {
  font-weight: 600;
}

/* 장바구니와 바로구매 버튼 컨테이너 */
.btn {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 10px;
  padding: 0;
  outline: none;
  border: none;
}

/* 장바구니와 바로구매 버튼 스타일 */
.cart-btn,
.buy-btn {
  width: 168px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
}

.cart-btn {
  background-color: white;
  border: 1px solid #ff697b;
  color: #ff697b;
  font-weight: 900;
}

.buy-btn {
  background-color: #ff697b;
  color: white;
  font-weight: 900;
}

.endsolid {
  margin-bottom: 0;
  margin-top: 30px;
  width: 100%;
  height: 0;
  border: 2px solid #f3f3f3;
}
/* ---------------------------------------------*/
/* ---------------상품설명영역--------------------*/
/* ---------------------------------------------*/
#mainimg {
  display: flex;
  justify-content: center;
}

/* <!-- 상품설명/리뷰/상품문의 --> */
.sticky {
  position: sticky;
  top: 170px;
  width: 100%;
  background-color: #fff;
  border-top: 2px solid #f3f3f3;
  border-bottom: 2px solid #f3f3f3;
  z-index: 1000;
}

.productDetailTab {
  margin: 30px;
  max-width: 100%;
}

.imgtext {
  display: flex;
  gap: 130px;
  width: 1200px;
  font-size: 21px;
  justify-content: center;
  margin: auto;
  padding-left: 65px;

  a {
    color: #b6b6b6;
    font-weight: bold;
  }

  /* 클릭시 글자컬러변경 */
  .on {
    color: #333;
  }
}

/* <!-- 리뷰/상품문의 --> */
.division {
  border: 2px solid #f3f3f3;
  width: 80%;
  margin: 0 auto;
}

.review {
  width: 100%;
  margin-bottom: 50px; /* 섹션 간 간격 추가 */
}

.productReview,
.productInquiry {
  width: 80%;
  margin: 0 auto;
}

.title {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}

.reviewCount,
.inquiryCount {
  font-weight: bold;
  color: #ff697b;
  margin-left: 5px;
}

.reviewInfo {
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 10px;
  height: 130px;
  margin-top: 33px;
  padding: 20px 0;
  width: 396px;
  text-align: center;
}

.scoreStatus {
  color: #a5a5a5;
  display: flex;
  font-size: 30px;
  font-weight: 600;
  height: fit-content;
  letter-spacing: -0.6px;
  line-height: 1.6;
  margin: 0 auto;
  width: fit-content;
}

.scoreStatus .nowScore {
  color: #333;
  display: block;
  margin-right: 8px;
}

.scoreStatus .perfectScore {
  display: block;
  font-weight: 500;
  margin-left: 8px;
}

.fa-regular {
  font-size: 25px;
}

.reviewList {
  border-top: 1px solid #e6e6e6;
  margin-top: 50px;
}

.noData {
  /* border: 1px solid rgb(0, 249, 12); */
  height: 300px;
  position: relative;
}

.review .noData::after {
  color: #b6b6b6;
  content: "등록된 리뷰가 없습니다.";
  display: block;
  font-size: 20px;
  font-weight: 500;
  height: fit-content;
  left: 50%;
  letter-spacing: -0.4px;
  line-height: 2.4;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

.button {
  background-color: #ff697b;
  border-radius: 3px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  height: fit-content;
  letter-spacing: -0.32px;
  line-height: 0.94;
  padding: 8px 17px;
  text-align: center;
  width: fit-content;
  cursor: pointer;
  margin-top: 30px;
  margin-right: 0;
}

.flex {
  display: flex;
}

.inquiryCover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: #333;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.34px;
  line-height: 2.94;
  text-align: center;
  border-top: 1px solid #000; 
  border-bottom: 1px solid #000; 
  padding: 5px 0; /* 위 아래 여백 */
}



.inquiryTitle {
  flex: 1;
  text-align: center;
}

.inquiryWriter,
.inquiryWriteDate,
.inquiryStatus {
  text-align: right;
}
.productInquiry .noData::after{
  color: #b6b6b6;
  content: "등록된 문의가 없습니다.";
  display: block;
  font-size: 20px;
  font-weight: 500;
  height: fit-content;
  left: 50%;
  letter-spacing: -.4px;
  line-height: 2.4;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}


/* ---------------------------------------------*/
/* ---------------alert  css// -----------------*/
/* ---------------------------------------------*/

/* // 필수 표기정보 alert 창 css// */
.required-box {
  overflow: hidden;
}

.required-text {
  font-size: 21px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
  margin-bottom: -20px;
}

.required-button {
  background-color: unset;
  color: #ff697b;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
}

table {
  /* border: 1px solid #a5a5a5; */
  border-collapse: collapse;
  margin: 40px auto 0 auto;
  width: 100%;
  max-height: 500px;
  overflow: auto;
  display: block;
  text-align: left;
}

td {
  border: solid 1px #d2d2d2;
  width: 320px;
  padding: 13px 15px 13px 10px;
  font-size: 13px;
  max-height: 50px;
  overflow: hidden;
  color: #333;
  font-weight: 600;
}

td:nth-child(odd) {
  background-color: #f3f3f3;
  color: #787878;
  font-size: 13px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: -0.26px;
  width: 147px;
  height: 52px;
  border-right: 1px solid #f3f3f3;
}

/* 문의하기버튼 alert 창 css */
.alert-button {
  background-color: unset;
  color: #ff697b;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
}

.title-text {
  font-size: 21px;
  font-weight: bold;
  margin-top: 20px;
}
