.addressContainer {
    width: 100%;
    max-width: 960px;
    padding: 0 20px;
    margin-top: -35px;
}

.addressTitle {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-top: 28px;
    padding: 10px;
}

.address-form {
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
}

.formGroup {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.formGroup label {
    width: 25%;
    font-size: 0.9em;
    text-align: left;
    padding-right: 5px;
}

.formGroup label::before {
    content: "*";
    color: #ff697b;
    position: absolute;
    left: -10px;
}

.formGroup input[type="text"],
.input-container input {
    width: 75%;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 75%;
    margin: 0 auto;
}

.input-container .findPostcode {
    padding: 10px 20px;
    border: 1px solid #ff697b;
    background-color: #ff697b;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.select,
.formGroup select {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.customInputContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.customInput {
    display: none;
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.defaultAddressContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.defaultAddressContainer label {
    margin-left: 5px;
    font-size: 0.9em;
}

.saveButton {
    width: 30%;
    padding: 15px;
    font-size: 1em;
    background-color: #e0e0e0;
    color: #999;
    border: none;
    border-radius: 4px;
    cursor: not-allowed;
    margin-top: 20px;
}

.saveButton:enabled {
    background-color: #ff697b;
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}

.required{
    color: #d9534f;
}

#postcode {
    width: 50%;
}

.findPostcode {
    padding: 10px; 
    height: auto; 
}

.input-field {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}