* {
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.rewardPage {
    display: flex;
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.rewardDetails {
    width: 30%;
    padding: 20px;
    border-right: 1px solid #ddd;
}
.rewardDetails h2{
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.rewardCard {
    border: 1px solid #efefef;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
}

.rewardIcon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.rewardInfo ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.rewardInfo ul li {
    margin-bottom: 5px;
}

.rewardInfo ul li span {
    font-weight: bold;
}

.viewHistory {
    display: inline-block;
    margin-top: 10px;
    color: #8e8e8e;
    font-weight: bold;
    text-decoration: none;
}

.rewardNotes {
    font-size: 12px;
    color: #888;
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 20px;
}

.usingSection {
    border: 1px solid #efefef;
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    height: 600px;
    text-align: center;
}

.usingSection h2 {
    margin-top: 0;
    margin-bottom: 20px; 
    text-align: center;
}

.usingList {
    color: #8e8e8e;
    margin-top:200px;
}
