.Container {
    margin: auto;
    max-width: 1200px;
    padding: 20px;
    margin-top: 200px;
}

.infoSection {
    display: flex;
    justify-content: space-between;
    gap: 30px; 
    margin-bottom: 20px;
}

.userInfo {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userInfo .profile {
    display: flex;
    align-items: center;
}

.userInfo .profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.userDetails {
    line-height: 1.2;
}

.userDetails h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.userDetails p {
    margin: 2px 0;
    font-size: 14px;
    color: #888;
}

.userActions {
    align-self: flex-start; 
    margin-top: 5px;
}
.userActions button {
    padding: 8px 16px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
}


.mainInfo {
    width: 48%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center;
}

.mainInfo .infoBox {
    width: 30%;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.mainInfo .infoBox p {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.mainInfo .infoBox span {
    display: block;
    margin-top: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.contentContainer{
    display: flex;
    gap:20px;
    margin-top:20px;
    align-items: flex-start;
    margin-bottom: 50px;
}

.menuContainer {
    margin-top: 20px;
}


.menuSection {
    margin-bottom: 20px;
}

.menuSection h3 {
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
}

.menuSection ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menuSection ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    width: 180px; 
    position:relative;
}
.menuSection ul li.active {
    background-color: #fff0f2 !important;
    color: #ff697b !important;
}
.menuSection ul li.active a{
    color: #ff697b !important;
}
.menuSection ul li a {
    text-decoration: none;
    color: #8d8d8d;
    flex: 1;
    padding-right: 10px;
}

.menuSection ul li .nextIcon {
    position: absolute;
    right: 20px;
    height: 14px;
    width: 12px; 
    
}
a {
    text-decoration: none; 
    color: inherit; 
}

a:hover, a:active, a:visited {
    text-decoration: none; 
    color: inherit; 
}