* {
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 20px;
    margin: 0;
}

.contentContainer {
    width: 85%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: row; 
    gap: 20px; 
    align-items: flex-start;
}

.menuContainer {
    width: 200px;
    padding-right: 20px;
}

.menuSection ul {
    list-style: none;
    padding: 0;
}

.menuSection ul li {
    margin-bottom: 10px;
}

.menuSection ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}

.menuSection ul li a:hover,
.menuSection ul li a.active {
    background-color: #f8e8e8;
    color: #d9534f;
    font-weight: bold;
}

.next-icon {
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.formSection {
    flex-grow: 1;
    padding-left: 10px;
}

.formSection h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.notification-option {
    display: flex;
    gap: 20px;
}

.notification-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: left;
    width: 100%; 
    min-width: 250px; 
    height: 100px; 
    box-sizing: border-box;
}

.notification-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.notification-title {
    font-weight: bold;
}

.notification-description {
    font-size: 12px;
    color: #888;
    margin-top: 4px;
}

.switch {
    margin-left: auto;
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 10px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #ff697b;
}

input:checked + .slider:before {
    transform: translateX(14px);
}
