* {
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    justify-content: center;
    align-items: flex-start;
 
    padding-top: 20px;
    margin: 0;
}

.contentContainer {
    width: 80%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: row; 
    gap: 20px; 
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 300px;
    margin-bottom: 300px;
}

.menuContainer {
    width: 200px;
    padding-right: 20px;
}

.menuSection ul {
    list-style: none;
    padding: 0;
}

.menuSection ul li {
    margin-bottom: 10px;
}

.menuSection ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}

.menuSection ul li a:hover,
.menuSection ul li a.active {
    background-color: #f8e8e8;
    color: #ff697b;
    font-weight: bold;
}

.nextIcon {
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.formSection {
    flex-grow: 1; 
    padding-left: 20px;
}

.formSection h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.formSection table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.formSection table td {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    text-align: left;
}

.formSection table td:first-child {
    width: 200px;
    font-weight: bold;
    background-color: #f7f7f7;
    text-align: left;
    padding-right: 10px;
    padding-left: 20px;
}

.password-hint {
    font-size: 11px;
    color: #888;
    margin-top: 5px;
}

.savebuttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.savebutton {
    padding: 10px 30px;
    background-color: #e0e0e0;
    color: #999;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: not-allowed;
}

.passwordContainer {
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #ddd; 
    border-radius: 4px; 
    padding: 8px; 
    background-color: #f9f9f9; 
    width: 65%;
}

.passwordContainer input {
    border: none;
    background: transparent; 
    flex: 1; 
    font-size: 14px;
    text-align: left;
}

.passwordContainer input:focus {
    outline: none; 
}

.passwordContainer img {
    width: 14px; 
    height: 14px;
    cursor: pointer;
    margin-left: 8px; 
}
