/* 상품문의 컨테이너 */
.productInquiryContainer {
    margin-top: 20px;
    
}
.productInquiryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.productInquiryTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 드롭다운*/
.productInquiryControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.productInquiryControls .productInquirySelect {
    width: 150px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
}

.productInquiryTable {
    flex:1;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 960px;
    padding: 0 40px;
    margin-top: -20px;
}

.productInquiryTable table {
    width: 100%;
    border-collapse: collapse;
}

.productInquiryTable th,
.productInquiryTable td {
    padding: 15px;
    border: 1px solid #ddd;
    font-size: 14px;
    text-align: center;
    border-left: none;
    border-right: none;
    color: #333;
}
.productInquiryTable th:nth-child(1), .productInquiryTable td:nth-child(1) {
    width: 60%; /* 문의 */
}

.productInquiryTable th:nth-child(2), .productInquiryTable td:nth-child(2) {
    width: 20%; /* 작성일 */
}

.productInquiryTable th:nth-child(3), .productInquiryTable td:nth-child(3) {
    width: 20%; /* 답변상태 */
}

.noInquiry {
    font-size: 16px;
    padding: 40px 0;
    color: #b6b6b6; 
}
.noInquiry td{
    border:none;
    text-align: center;
    vertical-align: middle; 
    height: 500px;
}