* {
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    padding-top: 50px;
    margin-bottom: 200px;
}

.profileContainer {
    width: 70%;
    max-width: 800px;
    padding: 40px;
    text-align: left;
    margin-top: 200px;
}

.profileContainer h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.profileContent {
    width: 80%;
    padding: 50px 100px;
    border-radius: 20px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profileImgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.profileImageBox {
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileImageBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.editButton {
    position: absolute;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
    text-align: center;
}

.editButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.deleteButton {
    margin-top: 10px;
    background-color: #ff697b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #e05656;
}

.hidden {
    display: none;
}

.nicknameContainer {
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    margin-bottom: 5px; 
}

.input-container .input-field {
    flex: 1; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px; 
}

.input-container .inline-btn {
    background-color: #fff;
    color: #ff697b;
    border: 1px solid #ff697b;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.noticeAlarm {
    margin-top: 5px; 
    text-align: left;
    font-size: 12px;
    color: #bcbcbc;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cancelButton,
.confirmButton {
    width: 120px;
    padding: 12px;
    border-radius: 5px;
    border: #525252;
    font-size: 14px;
    cursor: pointer;
}

.cancelButton {
    background-color: white;
    color: #666;
    margin-right: 10px;
}

.confirmButton {
    background-color: #ff697b;
    color: white;
}

.confirmButton:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: not-allowed;
}

.input-container label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px; 
    color: #333;
}

.input-container .required {
    color: #ff697b;
}
