* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.rewardPage {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.rewardDetails {
    width: 30%;
    padding: 20px;
    border-right: 1px solid #ddd;
}
.rewardDetails h2{
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.rewardCard {
    border: 1px solid #efefef;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
}

.rewardIcon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.rewardInfo ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.rewardInfo ul li {
    margin-bottom: 5px;
}

.rewardInfo ul li span {
    font-weight: bold;
}

.viewHistory {
    display: inline-block;
    margin-top: 10px;
    color: #8e8e8e;
    font-weight: bold;
    text-decoration: none;
}

.rewardNotes {
    font-size: 12px;
    color: #888;
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 20px;
}

.challengeSection {
    border: 1px solid #efefef;
    width: 70%;
    padding: 20px;
    text-align: center;
}

.tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.tab {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #888;
    border: none;
    background: none;
}

.tab.active {
    color: #ff697b;
    border-bottom: 2px solid #ff697b;
}

.challenges {
    display: flex;
    align-items: center;
}

.challenge {
    display: flex;
    align-items: center;
}

.challengeImage {
    width: 120px;
    height: 80px;
    margin-right: 20px;
}

.challengeInfo h3 {
    margin: 0;
    font-size: 18px;
}

.challengeInfo p {
    margin: 5px 0;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    color: #888;
    margin-top: 20px;
}

.pagination span {
    margin: 0 5px;
    cursor: pointer;
}