* {
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    justify-content: center;
    align-items: flex-start;

    padding-top: 20px;
    margin: 0;
}

.contentContainer {
    width: 85%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: row; 
    gap: 20px; 
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 300px;
    margin-bottom: 300px;
}

.menuContainer {
    width: 200px;
    padding-right: 20px;
}

.menuSection ul {
    list-style: none;
    padding: 0;
}

.menuSection ul li {
    margin-bottom: 10px;
}

.menuSection ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}

.menuSection ul li a:hover,
.menuSection ul li a.active {
    background-color: #f8e8e8;
    color: #ff697b;
    font-weight: bold;
}

.nextIcon {
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.delete-form {
    flex-grow: 1;
    padding-left: 10px;
}

.delete-form h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.delete-form p:first-of-type {
    font-weight: bold; 
}

.noticeBox {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    color: #333;
    font-size: 14px;
    line-height: 1.6;
}

.noticeBox ul {
    list-style: none;
    padding: 0;
}

.noticeBox li {
    margin-bottom: 8px;
}

.noticeBox li strong {
    font-weight: bold;
    display: block;
    margin-bottom: 2px;
    padding-left: 20px;
}
.noticeBox li strong::before {
    content: "• ";
    color: #333;
    margin-right: 5px;
}

.delete-form input[type="checkbox"] {
    margin-right: 10px;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #e0e0e0;
    color: #999;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: not-allowed;
    text-align: center;
    margin-top: 20px;
}
