<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>린미 - 아이디 찾기</title>
    <th:block th:replace="~{/fragments/header}" />
    <link rel="stylesheet" th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/findIdIn.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.13.1/dist/sweetalert2.min.css" />

</head>

<body>
    <main>
        <div class="findIdIn">
            <div class="contents">
                <div class="findIdInCover">
                    <div class="title">아이디 찾기</div>
                    <form id="find-id-form">
                        <!-- 이름 -->
                        <div class="input-container">
                            <input type="text" name="user_name" id="user_name" class="input-field"
                                placeholder="이름을 입력해주세요" />
                        </div>

                        <!-- 이메일 -->
                        <div class="input-container">
                            <input type="tel" name="tel" id="tel" class="input-field" placeholder="전화번호를 입력해주세요" />
                        </div>

                        <!-- 결과 출력 -->
                        <p class="find-result">
                            <span class='user-name' style="color: hsl(352, 91%, 79%);">린미</span>님의 아이디는
                            <span class='user-id' style="color: hsl(352, 91%, 79%);">linme@linme.com</span>입니다
                        </p>

                        <!-- 아이디 찾기 버튼 -->
                        <div class="find-id-btn">
                            <button type="submit" class="btn">
                                <p>아이디 찾기</p>
                            </button>
                        </div>
                    </form>

                    <div class="form-footer">
                        <p>로그인이 필요하신가요? <a th:href="@{/login}">로그인</a></p>
                        <p>계정이 없으신가요? <a th:href="@{/signUp}">회원가입</a></p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <th:block th:replace="~{/fragments/footer}" />
    </footer>
    <!-- 푸터 0px로 붙게 -->
    <script>
        document.querySelector(".footerContainer").style.margin = "0px";
    </script>
    <!-- 스크립트추가 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.13.1/dist/sweetalert2.all.min.js"></script>
    <script th:src="@{/assets/js/helperJs/AxiosHelper.js}"></script>
    <script th:src="@{/assets/js/helperJs/RegexHelper.js}"></script>
    <script th:src="@{/assets/js/helperJs/UtilHelper.js}"></script>

    <script>
        // 'find-id-form' 폼의 제출 이벤트 리스너 추가
        document.getElementById('find-id-form').addEventListener('submit', async (e) => {
            e.preventDefault();

            try {
                // 유효성 검사
                regexHelper.value("#user_name", "이름을 입력하세요");
                regexHelper.value("#tel", "전화번호를 입력하세요");
            } catch (err) {
                await utilHelper.alertDanger(err.message);

                setTimeout(() => err.element.focus(), 300);
                return;
            }

            // 유효성 검사를 통과하면 서버에 데이터 전송
            const data = await axiosHelper.post('[[@{/api/member/findId}]]', new FormData(e.currentTarget));

            if (data) {
                // 서버로부터 받은 데이터 처리
                const userName = document.querySelector("#user_name").value;
                const userId = data.item;

                // 결과를 화면에 표시
                document.querySelector(".user-name").innerHTML = userName;
                document.querySelector(".user-id").innerHTML = userId;

                // 결과 영역을 표시
                document.querySelector(".find-result").style.display = 'block';
            }
        });
    </script>
</body>

</html>