<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>린미 - 아이디 찾기</title>
    <th:block th:replace="~{/fragments/header}" />
    <link rel="stylesheet" th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/findId.css}" />
</head>

<body>
    <main>
        <div class="findId">
            <div class="contents">
                <div class="title">아이디 찾기</div>
                <div class="findOn">
                    <div class="description">회원가입 시 인증하신 휴대폰 번호로 본인인증을 진행해 주세요.</div>
                    <div class="button certification">
                        <a th:href="@{/member/findIdIn}">본인인증</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <th:block th:replace="~{/fragments/footer}" />
    </footer>

    <!-- 푸터 0px로 붙게 -->
    <script>
        document.querySelector(".footerContainer").style.margin = "0px";
    </script>
</body>

</html>