<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>린미-아이디 찾기</title>
    <link rel="stylesheet" href="../../static/assets/css/common.css" />
    <link rel="stylesheet" href="../../static/assets/css/findId.css" />
</head>
<body>
    <main>
        <div class="findId">
            <div class="contents">
                <div class="title">아이디 찾기</div>
                <div class="findOn">
                    <div class="description">회원가입 시 인증하신 휴대폰 번호로 본인인증을 진행해 주세요.</div>
                    <div class="button certification">본인인증</div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
