<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>린미 - 아이디 찾기</title>
    <th:block th:replace="~{/fragments/header}" />
    <link rel="stylesheet" th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/resetPw.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.13.1/dist/sweetalert2.min.css" />

</head>

<body>
    <main>
        <div class="resetPw">
            <div class="contents">
                <div class="resetPwCover">
                    <div class="title">비밀번호 재발급</div>
                    <form id="reset-form" method="post" th:action="@{/member/resetPwIn}">
                        <!-- 이름 -->
                        <div class="input-container">
                            <input type="text" name="user_name" id="user_name" class="input-field"
                                placeholder="이름을 입력해주세요" />
                        </div>

                        <!-- 전화번호 -->
                        <div class="input-container">
                            <input type="tel" name="tel" id="tel" class="input-field" placeholder="전화번호를 입력해주세요" />
                        </div>

                        <!-- 이메일 -->
                        <div class="input-container">
                            <input type="email" name="user_id" id="user_id" class="input-field"
                                placeholder="아이디(이메일)를 입력해주세요" />
                        </div>

                        <!-- 비밀번호 재발급 버튼 -->
                        <div class="reset-btn">
                            <button type="submit" class="btn">
                                <p>비밀번호 재발급</p>
                            </button>
                        </div>
                    </form>

                    <div class="form-footer">
                        <p>로그인이 필요하신가요? <a th:href="@{/login}">로그인</a></p>
                        <p>계정이 없으신가요? <a th:href="@{/signUp}">회원가입</a></p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <th:block th:replace="~{/fragments/footer}" />
    </footer>
    <!-- 푸터 0px로 붙게 -->
    <script>
        document.querySelector(".footerContainer").style.margin = "0px";
    </script>

    <!-- 스크립트추가 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.13.1/dist/sweetalert2.all.min.js"></script>
    <script th:src="@{/assets/js/helperJs/AxiosHelper.js}"></script>
    <script th:src="@{/assets/js/helperJs/RegexHelper.js}"></script>
    <script th:src="@{/assets/js/helperJs/UtilHelper.js}"></script>

    <script>
        document.getElementById('reset-form').addEventListener('submit', async (e) => {
            e.preventDefault();

            try {
                // 이름 유효성 검사
                regexHelper.value("#user_name", "이름을 입력하세요.");
                // 전화번호 유효성 검사
                regexHelper.value("#tel", "전화번호를 입력하세요.");
                // 아이디 유효성 검사
                regexHelper.value("#user_id", "아이디(이메일)를 입력하세요.");
                regexHelper.email("#user_id", "아이디(이메일) 형식이 올바르지 않습니다.");

            } catch (err) {
                await utilHelper.alertDanger(err.message);

                setTimeout(() => err.element.focus(), 300);
                return;
            }

            // 유효성 검사를 통과하면 폼 제출
            e.currentTarget.submit();
        });
    </script>
    </script>

</body>

</html>