<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>린미 - 아이디 찾기</title>
    <th:block th:replace="~{/fragments/header}" />
    <link rel="stylesheet" th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/findIdIn.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.13.1/dist/sweetalert2.min.css" />

</head>

<body>
    <main>
        <div class="findIdIn">
            <div class="contents">
                <div class="findIdInCover">
                    <div class="join-body">
                        <div class="head-title">
                            <p>비밀번호 임시발급</p>
                        </div>
                        <div class="id-result">
                            <h3><span th:text="${item.userName}"></span>님의 임시 비밀번호입니다.</h3>
                            <p>
                                <span th:text="${password}" class="id-txt"></span>
                                <span>입니다.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <th:block th:replace="~{/fragments/footer}" />
    </footer>
    <!-- 푸터 0px로 붙게 -->
    <script>
        document.querySelector(".footerContainer").style.margin = "0px";
    </script>
    <!-- 스크립트추가 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.13.1/dist/sweetalert2.all.min.js"></script>
    <script th:src="@{/assets/js/helperJs/AxiosHelper.js}"></script>
    <script th:src="@{/assets/js/helperJs/RegexHelper.js}"></script>
    <script th:src="@{/assets/js/helperJs/UtilHelper.js}"></script>
</body>

</html>