<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../static/assets/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../static/assets/css/payment.css" />
    <title>린미 - 주문/결제</title>
  </head>
  <body>
    <!-- Header 영역 -->
    <!--<header th:fragment="my-header"><link rel="stylesheet" th:href=@{/assets/css/header.css} /></header>-->

    <!-- 메인 영역 -->
    <main>
      <div class="container">
        <div class="contents">
          <!-- 주문/결제 단계-->
          <div class="progressStageCart">
            <!-- 장바구니 -->
            <div class="progressStep step1">
              <div class="progressNumberCover"><div class="progressNumber">1</div></div>
              <div class="progressName">장바구니</div>
            </div>
            <!-- 주문/결제 -->
            <div class="progressStep step2 on">
              <div class="progressNumberCover"><div class="progressNumber">2</div></div>
              <div class="progressName">주문/결제</div>
            </div>
            <!-- 주문완료 -->
            <div class="progressStep step3">
              <div class="progressNumberCover"><div class="progressNumber">3</div></div>
              <div class="progressName">주문완료</div>
            </div>
          </div>
        </div>

        <!-- 주문/결제 및 전체 합계 -->
        <div class="paymentContainer">
          <!-- 1. 주문/결제 정보(데이터)-->
          <div class="paymentData">
            <!-- 1-1. 주문/결제 타이틀 -->
            <div class="paymentTitle">주문/결제</div>
            <!-- 1-2. 배송지 정보 -->
            <div class="dataInfo deliveryInfo">
              <div class="title">배송지 정보</div>
              <div class="changeDeliveryInfo">변경</div>
              <!-- 배송지 정보 리스트 -->
              <ul class="addressBookInfoList">
                <!-- 배송지명-->
                <li class="addressBookInfoItem">
                  <div class="label">배송지명</div>
                  <span class="data" th:text="${addressNickname}">주소 닉네임</span>
                </li>

                <!-- 받는 분-->
                <li class="addressBookInfoItem">
                  <div class="label">받는 분</div>
                  <span class="data" th:text="${addressName}">회원이름</span>
                </li>

                <!-- 연락처 -->
                <li class="addressBookInfoItem">
                  <div class="label">연락처</div>
                  <span class="data" th:text="${phone}">회원 전화번호</span>
                </li>

                <!-- 주소-->
                <li class="addressBookInfoItem">
                  <div class="label">주소</div>
                  <span class="data" th:text="${address}">회원 주소</span>
                </li>

                <!-- 배송 요청사항-->
                <li class="addressBookInfoItem">
                  <div class="label">배송 요청사항</div>
                  <form class="data" th:action="#">
                    <select class="dropdown">
                      <option value="1">부재 시 문 앞에 놓아주세요</option>
                      <option value="2">배송 전에 미리 연락 주세요</option>
                      <option value="3">부재 시 경비실에 맡겨 주세요</option>
                      <option value="4">부재 시 전화 주시거나 문자 남겨주세요</option>
                      <option value="5">직접 입력</option>
                    </select>
                    <input type="text" class="memo" name="directInput" placeholder="직접 입력" value="" />
                  </form>
                </li>
              </ul>
            </div>
            <!-- 1-3. 주문상품 확인 -->
            <div class="dataInfo checkOrderProduct">
              <div class="title">주문상품 확인</div>
            </div>
            <!-- 1-4. 쿠폰 할인 적용 -->
            <div class="dataInfo couponInfo">
              <div class="title">쿠폰 할인 적용</div>
            </div>
            <!-- 1-5. 결제수단 선택 -->
            <div class="dataInfo paymentMethod">
              <div class="title">결제수단 선택</div>
            </div>
          </div>
          <!-- 2. 전체 합계 및 이용약관 -->
          <div class="paymentTotalContainer">
            <!-- 2-1. 전체 합계 -->
            <div class="paymentTotalInfo">
              <!-- 전체 합계 타이틀 -->
              <div class="paymentTotaltitle">전체 합계</div>
            </div>
            <!-- 2-2. 이용약관 -->
            <div class="paymentTermsInfo">이용약관</div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer 영역 -->
    <!--<footer th:fragment="my-footer"><link rel="stylesheet" th:href=@{/assets/css/footer.css} /></footer>-->
  </body>
</html>
