<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/payment.css}" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.13.1/dist/sweetalert2.min.css" rel="stylesheet" />
    <title>린미 - 주문/결제</title>
    <!-- Header 영역 -->
    <th:block th:replace="~{/fragments/header}" />
  </head>
  <body>
    <!-- 메인 영역 -->
    <main>
      <div class="paymentContainer">
        <!-- 장바구니 단계 -->
        <nav class="paymentProgress">
          <div class="progressStep">
            <div class="circle">1</div>
            <span class="progressStepText">장바구니</span>
          </div>
          <div class="progressStep on">
            <div class="circle on">2</div>
            <span class="progressStepText on">주문/결제</span>
          </div>
          <div class="progressStep">
            <div class="circle">3</div>
            <span class="progressStepText">주문완료</span>
          </div>
        </nav>

        <!-- 주문결제 및 전체합계 -->
        <form class="paymentMainContainer" method="post" th:action="@{/mypage/shopping/order}">
          <!-- 주문 결제 -->
          <section class="paymentInfo">
            <!-- 주문 결제 타이틀 -->
            <span class="paymentTitle">주문/결제</span>

            <!-- 배송지 정보 -->
            <div class="deliveryInfo">
              <!-- 배송지 타이틀 -->
              <span class="deliveryTitle">배송지 정보</span>

              <ul class="deliveryList">
                <!-- 배송지명 -->
                <li class="addrName">
                  <span>배송지명</span>
                  <a>jinju</a>
                </li>

                <!-- 받는 분 -->
                <li class="receiver">
                  <span>받는 분</span>
                  <a>김진주</a>
                </li>

                <!-- 연락처 -->
                <li class="tel">
                  <span>연락처</span>
                  <a>01012345678</a>
                </li>

                <!-- 배송지 -->
                <li class="addr">
                  <span>배송지</span>
                  <a>서울시 강남구 역삼동 123-45</a>
                </li>

                <!-- 배송요청사항 -->
                <li class="deliveryRequest">
                  <span class="noRequired">배송요청사항</span>
                  <!-- 배송요청사항 선택 영역 -->
                  <a class="selectDeliveryMsg">
                    <!-- 선택 옵션 -->
                    <select class="selectDeliveryMsgOption">
                      <option value="1">부재 시 문 앞에 놓아주세요</option>
                      <option value="2">배송 전에 미리 연락 주세요</option>
                      <option value="3">부재 시 경비실에 맡겨 주세요</option>
                      <option value="4">부재 시 전화 주시거나 문자 남겨주세요</option>
                      <option value="directInput">직접입력</option>
                    </select>
                    <div class="inputContainer"></div
                  ></a>
                </li>
              </ul>
            </div>

            <!-- 주문상품 확인 -->
            <div class="OrderCheckInfo">
              <!-- 주문상품 확인 타이틀 -->
              <span class="OrderCheckTitle">주문상품 확인</span>
              <!-- 주문상품 확인 : 상품-->
              <ul class="OrderCheckList">
                <!-- 상품 ListItem-->
                <li class="OrderCheckItem">
                  <!-- 상단 -->
                  <div class="OrderCheckItemTop">
                    <span>상품정보</span>
                    <span>판매가</span>
                    <span>구매가</span>
                    <span>배송비</span>
                  </div>

                  <!-- 상품 정보 -->
                  <div class="OrderCheckItemCenter">
                    <!-- 상품 -->
                    <div class="OrderCheckItemBox">
                      <!-- 상품 상세 정보 -->
                      <div class="OrderCheckItemInfo">
                        <!-- 상품 이미지 -->
                        <a class="OrderCheckItemImg" th:href="@{/main/main}">
                          <img src="https://placehold.co/120" alt="상품 이미지" />
                        </a>
                        <div class="OrderCheckItemDetailInfo">
                          <!-- 브랜드명 -->
                          <a th:href="@{/main/main}">
                            <span>주식회사 에프디랩</span>
                          </a>
                          <!-- 상품명 -->
                          <a th:href="@{/main/main}">
                            <span>[네츄럴메이드]멀티비타민 앤 미네랄 선물세트_1박스(1,445mg*90정 X 2개입)(6개월분)</span>
                          </a>
                          <!-- 선택 수량 -->
                          <div class="selectedQuantity"><span>1</span>개</div>
                        </div>
                      </div>
                    </div>

                    <!-- 정가 -->
                    <span class="price">72,000원</span>
                    <!-- 판매가 -->
                    <div class="salePriceBox">
                      <span class="lineThrough">72,000원</span>
                      <span class="salePrice">36,000원</span>
                    </div>
                    <!-- 배송비 -->
                    <span class="deliveryPriceBox">0원</span>
                  </div>

                  <!-- 배송비 정보-->
                  <div class="OrderCheckItemBottom">
                    <span>총 배송비</span>
                    <span>0원</span>
                  </div>
                </li>
              </ul>
            </div>

            <!-- 1-4. 쿠폰 할인 적용 -->
            <div class="couponInfo">
              <div class="couponTitle">쿠폰 할인 적용</div>
              <div class="couponContent">
                <span class="label">쿠폰</span>
                <div class="noCoupon">
                  <input type="text" class="couponText" readonly="" placeholder="사용 가능한 쿠폰이 없습니다." />
                </div>
              </div>
            </div>

            <!-- 결제수단 선택-->
            <div class="paymentMethodInfo">
              <!-- 쿠폰 할인 적용 타이틀 -->
              <span class="paymentMethodTitle">결제수단 선택</span>
              <div class="paymentMethod">
                <input class="methodRadio" type="radio" checked="" />
                <label class="methodCard" for="payMethodcard">신용카드</label>
              </div>
            </div>
          </section>

          <!-- 전체 합계 -->
          <section class="paymentTotal">
            <!-- 전체 주문금액 타이틀 -->
            <div class="paymentTotalTitle">전체 합계</div>
            <!-- 전체 주문금액 -->
            <div class="totalPrice">
              <span>전체 주문금액</span>
              <span class="totalPriceText">0원</span>
            </div>
            <!-- 결제하기 버튼 -->
            <a class="orderBtn"><span>결제하기</span></a>
          </section>
        </form>
      </div>
    </main>

    <!-- Footer 영역 -->
    <th:block th:replace="~{/fragments/footer}" />

    <!-- Script 영역 -->
    <script th:src="@{/assets/js/helperJs/AxiosHelper.js}"></script>
    <script th:src="@{/assets/js/helperJs/UtilHelper.js}"></script>
    <script th:src="@{/assets/js/helperJs/RegexHelper.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.13.1/dist/sweetalert2.all.min.js"></script>

    <script th:src="@{/assets/js/payment.js}"></script>

    <script>
      // Footer 영역의 margin을 0으로 설정
      document.querySelector(".footerContainer").style.margin = "0px";
    </script>
  </body>
</html>
