<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link rel="stylesheet" type="text/css" href="../../static/assets/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../static/assets/css/payment.css" />-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/payment.css}" />
    <title>린미 - 주문/결제</title>
    <!-- Header 영역 -->
    <th:block th:replace="~{/fragments/header}" />
  </head>
  <body>
    <!-- 메인 영역 -->
    <main>
      <div class="container">
        <div class="contents">
          <!-- 주문/결제 단계-->
          <div class="progressStageCart">
            <!-- 장바구니 -->
            <div class="progressStep step1">
              <div class="progressNumberCover"><div class="progressNumber">1</div></div>
              <div class="progressName">장바구니</div>
            </div>
            <!-- 주문/결제 -->
            <div class="progressStep step2 on">
              <div class="progressNumberCover"><div class="progressNumber">2</div></div>
              <div class="progressName">주문/결제</div>
            </div>
            <!-- 주문완료 -->
            <div class="progressStep step3">
              <div class="progressNumberCover"><div class="progressNumber">3</div></div>
              <div class="progressName">주문완료</div>
            </div>
          </div>
        </div>

        <!-- 주문/결제 및 전체 합계 -->
        <div class="paymentContainer">
          <!-- 1. 주문/결제 정보(데이터)-->
          <div class="paymentData">
            <!-- 1-1. 주문/결제 타이틀 -->
            <div class="paymentTitle">주문/결제</div>
            <!-- 1-2. 배송지 정보 -->
            <div class="dataInfo deliveryInfo">
              <div class="title">배송지 정보</div>
              <div class="changeDeliveryInfo">변경</div>
              <!-- 배송지 정보 리스트 -->
              <ul class="addressBookInfoList">
                <!-- 배송지명-->
                <li class="addressBookInfoItem">
                  <div class="label">배송지명</div>
                  <span class="data" th:text="${addressNickname}">주소 닉네임</span>
                </li>

                <!-- 받는 분-->
                <li class="addressBookInfoItem">
                  <div class="label">받는 분</div>
                  <span class="data" th:text="${addressName}">주소 이름</span>
                </li>

                <!-- 연락처 -->
                <li class="addressBookInfoItem">
                  <div class="label">연락처</div>
                  <span class="data" th:text="${phone}">회원 전화번호</span>
                </li>

                <!-- 주소-->
                <li class="addressBookInfoItem">
                  <div class="label">주소</div>
                  <span class="data" th:text="${address}">회원 주소</span>
                </li>

                <!-- 배송 요청사항-->
                <li class="addressBookInfoItem">
                  <div class="label">배송 요청사항</div>
                  <form class="data">
                    <select name="dropdown" class="dropdown">
                      <option value="1">부재 시 문 앞에 놓아주세요</option>
                      <option value="2">배송 전에 미리 연락 주세요</option>
                      <option value="3">부재 시 경비실에 맡겨 주세요</option>
                      <option value="4">부재 시 전화 주시거나 문자 남겨주세요</option>
                      <option value="5">직접 입력</option>
                    </select>
                    <input type="text" class="memo" name="directInput" placeholder="직접 입력" value="" />
                  </form>
                </li>
              </ul>
            </div>

            <!-- 1-3. 주문상품 확인 -->
            <div class="dataInfo checkOrderProduct">
              <div class="OrderProductTitle">주문상품</div>
              <div class="combinedProductList">
                <ul class="combinedProductContainer">
                  <!-- 상단 제목 -->
                  <li class="productItem title">
                    <div class="productTitle">상품정보</div>
                    <div class="top-solidline"></div>
                    <div class="salePriceInfoTitle">판매가</div>
                    <div class="top-solidline"></div>
                    <div class="priceInfo">구매가</div>
                    <div class="top-solidline"></div>
                    <div class="deliveryPriceInfo">배송비</div>
                  </li>

                  <!-- 구매상품 정보 -->
                  <li class="productItem detail">
                    <!-- 상품 정보-->
                    <div class="product">
                      <!-- 상품 이미지-->
                      <a
                        ><div class="productImageCover"><img th:src="@{productImage}" />사진</div></a
                      >
                      <!-- 상품 브랜드/상품명/개수 -->
                      <div class="productItemNameNo">
                        <!-- 브랜드명 -->
                        <div class="productItemBrandName"><a>브랜드명</a></div>
                        <!-- 상품명 -->
                        <div class="productItemProductName">
                          <a>상품명</a>
                        </div>
                        <!-- 개수 -->
                        <div class="productOptionQuantity">1<span class="quantityUnit">개</span></div>
                      </div>
                    </div>
                    <!-- 판매가 -->
                    <div class="salePriceInfo">{판매가}<span class="currencyUnit">원</span></div>

                    <!-- 구매가/원가 -->
                    <div class="priceInfo">
                      <!-- 원가 -->
                      <div class="price">{원가}<span class="currencyUnit">원</span></div>
                      <!-- 구매가 -->
                      <div class="priceContainer">{구매가}<span class="currencyUnit">원</span></div>
                    </div>
                    <!-- 배송비 -->
                    <div class="deliveryPriceInfo">0<span class="currencyUnit">원</span></div>
                  </li>
                </ul>

                <!-- 총 배송비 -->
                <div class="cardDeliveryPrice">
                  <div class="cardDeliveryPriceItem">총 배송비</div>
                  <div class="cardDeliveryPriceItem bold">0원</div>
                </div>
              </div>
            </div>
            <!-- 1-4. 쿠폰 할인 적용 -->
            <div class="dataInfo couponInfo">
              <div class="couponTitle">쿠폰 할인 적용</div>
              <ul>
                <li>
                  <div class="label">쿠폰</div>
                  <div class="data">
                    <input type="text" name="selectedCouponName" class="selectedCouponName" readonly="" placeholder="사용 가능한 쿠폰이 없습니다." />
                  </div>
                </li>
              </ul>
            </div>
            <!-- 1-5. 결제수단 선택 -->
            <div class="dataInfo paymentMethod">
              <div class="paymentMethodTitle">결제수단 선택</div>
              <ul class="paymentMethodList">
                <li class="paymentMethodItem methodBox">
                  <input class="method" name="method" id="payMethodcard" type="radio" value="CARD" checked="" /><label
                    class="method"
                    for="payMethodcard"
                    >신용카드</label
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- 2. 전체 합계 및 이용약관 -->
          <div class="paymentTotalContainer">
            <!-- 2-1. 전체 합계 -->
            <div class="paymentTotalInfo">
              <!-- 전체 합계 -->
              <div class="title">전체 합계</div>
              <ul>
                <!-- 총 선택상품금액 -->
                <li>
                  <div class="label">총 선택상품금액</div>
                  <div class="price selectedProductPrice">{1234}<span class="currencyUnit">원</span></div>
                </li>
                <!-- 총 배송비 -->
                <li>
                  <div class="label">총 배송비</div>
                  <div class="price selectedDeliveryPrice"><span class="plus">+</span>0<span class="currencyUnit">원</span></div>
                </li>
              </ul>
              <div class="orderTotal">
                <div class="label">전체 주문금액</div>
                <div class="price orderPriceTotal">{1234}<span class="currencyUnit">원</span></div>
              </div>
              <div class="button clickable buy cover">
                <div class="buttonInner"><div class="label">결제하기</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer 영역 -->
    <th:block th:replace="~{/fragments/footer}" />
    <script>
      document.querySelector(".footerContainer").style.margin = "0px";
    </script>
  </body>
</html>
