<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link rel="stylesheet" href="../../static/assets/css/common.css" />
    <link rel="stylesheet" href="../../static/assets/css/cart.css" />-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/cart.css}" />
    <title>린미 - 장바구니</title>
    <!-- Header 영역 -->
    <th:block th:replace="~{/fragments/header}" />
  </head>
  <body>
    <!-- Main 영역-->
    <main>
      <div class="cartContainer">
        <!-- 장바구니 단계 -->
        <nav class="cartProgress">
          <div class="progressStep on">
            <div class="circle on">1</div>
            <span class="progressStepText on">장바구니</span>
          </div>
          <div class="progressStep">
            <div class="circle">2</div>
            <span class="progressStepText">주문/결제</span>
          </div>
          <div class="progressStep">
            <div class="circle">3</div>
            <span class="progressStepText">주문완료</span>
          </div>
        </nav>

        <!-- 전체선택 | 선택삭제 -->
        <div class="cartSelectContainer">
          <!-- 체크 박스 -->
          <input type="checkbox" id="cartSelectAll" onclick="toggleSelectAll(this)" />
          <!-- 전체 선택 -->
          <label class="cartSelectAllText" id="cartSelectAll" for="cartSelectAll">전체 선택</label> &#124;
          <!-- 선택 삭제 -->
          <label id="cartSelectItem" type="button" onclick="deleteSelected()">선택 삭제</label>
        </div>

        <!-- 장바구니 상품 목록 -->
        <section class="cartProductList">
          <div class="ProductInCart">
            <!-- 장바구니에 상품이 없을 때 -->
            <div class="emptyCart" th:if="${cart==null or cart.size()==0}">
              <!-- 메인으로 이동 -->
              <a th:href="@{/main/main}" class="goShoppingBtn">쇼핑 계속하기&nbsp;&nbsp;&gt;</a>
            </div>

            <!-- 장바구니에 상품이 있을 때 -->
            <div th:unless="${cart==null or cart.size()==0}">
              <!-- 장바구니 상품 정보 -->
              <div id="cartList">
                <!-- 장바구니 폼 -->
                <form class="cartId" id="cartProductItem" th:each="cart : ${cart}">
                  <!-- 상단 : 상품 / 상품금액 / 배송비 -->
                  <div class="cartTop">
                    <span>상품</span>
                    <span>상품금액</span>
                    <span>배송비</span>
                  </div>

                  <!-- 상품 정보 -->
                  <div class="cartCenter">
                    <!-- 상품 -->
                    <div class="productBox">
                      <!-- 체크 박스 -->
                      <div class="productCheckbox">
                        <input type="checkbox" class="productCheckbox" />
                      </div>
                      <!-- 상품 상세 정보 -->
                      <div class="productInfo">
                        <!-- 상품 이미지 -->
                        <a class="productImg" th:href="@{/view/view}">
                          <img th:src="${cart.img}" />
                        </a>
                        <div class="productDetailInfo">
                          <!-- 브랜드명 -->
                          <a th:href="@{/view/view}">
                            <span th:text="${cart.brandName}"></span>
                          </a>
                          <!-- 상품명 -->
                          <a th:href="@{/view/view}">
                            <span class="productName" th:text="${cart.productName}"></span>
                          </a>
                          <!-- 수량 조절 -->
                          <div class="quantityControl">
                            <!-- `-` 버튼 -->
                            <button type="button" onclick="decreaseQuantity(this)">-</button>
                            <!-- 사품 수량 : value -->
                            <input type="text" name="productCount" class="productCount" th:value="${cart.productCount}" readonly />
                            <!-- `+` 버튼 -->
                            <button type="button" onclick="increaseQuantity(this)">+</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- 상품 금액-->
                    <div class="productPriceBox">
                      <!-- 판매가 -->
                      <span class="cartSalePrice" th:text="${#numbers.formatInteger(cart.salePrice, 3, 'COMMA') + ' 원'}"></span>

                      <!-- 정가 -->
                      <span class="lineThroughPrice" th:text="${#numbers.formatInteger(cart.price, 3, 'COMMA') + ' 원'}"></span>

                      <!-- 주문하기 링크 -->
                      <a class="goPayment" th:href="@{/payment/payment}">주문하기</a>
                    </div>

                    <!-- 배송비 -->
                    <span class="deliveryPriceBox">0원</span>
                  </div>

                  <!-- 배송비 정보-->
                  <div class="cartBottom">
                    <span>배송비</span>
                    <span>0원</span>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- 전체 합계 -->
          <section class="cartTotal">
            <!-- 장바구니에 상품이 없을 때 -->
            <div th:if="${cart==null or cart.size()==0}">
              <!-- 전체 주문금액 타이틀 -->
              <div class="cartTotalTitle">전체 합계</div>
              <!-- 전체 주문금액 -->
              <div class="totalPrice">
                <span>전체 주문금액</span>
                <span class="totalPriceText">0 원</span>
              </div>
              <!-- 주문하기 버튼 -->
              <a class="orderBtn"><span>주문하기</span></a>
            </div>

            <!-- 장바구니에 상품이 있을 때 -->
            <div th:unless="${cart==null or cart.size()==0}">
              <!-- 전체 주문금액 타이틀 -->
              <div class="cartTotalTitle">전체 합계</div>
              <!-- 전체 주문금액 -->
              <div class="totalPrice">
                <span>전체 주문금액</span>
                <!-- <span class="totalPriceText" th:text="${#numbers.formatInteger(cart.totalPrice ?: 0, 3, 'COMMA') + ' 원'}"></span> -->
                <!-- <span class="totalPriceText" th:text="${cart.totalPrice} + ' 원'"></span> -->
              </div>
              <!-- 주문하기 버튼 -->
              <form th:action="@{/api/payment/order/{memberId}}" method="post">
                <!-- <button type="submit" class="orderBtn" th:href="@{/payment/payment}"><span>주문하기</span></button> -->
                <button type="submit" class="orderBtn"><span>주문하기</span></button>
              </form>
            </div>
          </section>
        </section>
      </div>
    </main>

    <!-- Footer 영역 -->
    <th:block th:replace="~{/fragments/footer}" />

    <!-- Script 영역 -->
    <script th:src="@{/assets/js/helperJs/AxiosHelper.js}"></script>
    <script th:src="@{/assets/js/helperJs/UtilHelper.js}"></script>
    <script th:src="@{/assets/js/helperJs/RegexHelper.js}"></script>

    <script th:src="@{/assets/js/cart.js}"></script>
    <script>
      document.querySelectorAll(".productCount").forEach((v, i) => {
        v.addEventListener("change", async (e) => {
          e.preventDefault();

          const form = v.form;

          const data = await axiosHelper.put(`[[@{/api/cart/cart/edit}]]`, new FormData(form));
          console.log(form.data);
          if (data) {
            if (form.querySelector(".cartId").value == data.cart.cartId) {
              form.querySelector(".cartSalePrice").innerHTML = (data.cart.salePrice * data.cart.productCount).toLocaleString() + " 원";
            }
          }
        });
      });
    </script>
  </body>
</html>
