<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/assets/css/common.css" />
    <link rel="stylesheet" href="../../static/assets/css/cart.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/cart.css}" />
    <title>린미 - 장바구니</title>
    <!-- Header 영역 -->
    <th:block th:replace="~{/fragments/header}" />
  </head>
  <body>
    <!-- Main 영역-->
    <main>
      <div class="cartContainer">
        <!-- 장바구니 단계 -->
        <nav class="cartProgress">
          <div class="progressStep on">
            <div class="circle on">1</div>
            <span class="progressStepText on">장바구니</span>
          </div>
          <div class="progressStep">
            <div class="circle">2</div>
            <span class="progressStepText">주문/결제</span>
          </div>
          <div class="progressStep">
            <div class="circle">3</div>
            <span class="progressStepText">주문완료</span>
          </div>
        </nav>

        <!-- 전체선택 | 선택삭제 -->
        <div class="cartSelectContainer">
          <!-- 체크 박스 -->
          <input type="checkbox" id="cartSelectAll" onclick="toggleSelectAll(this)" />
          <!-- 전체 선택 -->
          <label class="cartSelectAllText" id="cartSelectAll" for="cartSelectAll">전체 선택</label> &#124;
          <!-- 선택 삭제 -->
          <label id="cartSelectItem" type="button" onclick="deleteSelected()">선택 삭제</label>
        </div>

        <!-- 장바구니 상품 목록 -->
        <section class="cartProductList">
          <!-- 장바구니에 상품이 있을 때 -->
          <div class="ProductInCart">
            <!--<div th:if="${cart.products.size() > 0}">-->
            <!-- 장바구니 상품 정보 -->
            <ul id="cartList">
              <li id="cartProductItem">
                <!-- 상단 : 상품 / 상품금액 / 배송비 -->
                <div class="cartTop">
                  <span>상품</span>
                  <span>상품금액</span>
                  <span>배송비</span>
                </div>

                <!-- 상품 정보 -->
                <div class="cartCenter">
                  <!-- 상품 -->
                  <div class="productBox">
                    <!-- 체크 박스 -->
                    <div class="productCheckbox">
                      <input type="checkbox" class="productCheckbox" />
                    </div>
                    <!-- 상품 상세 정보 -->
                    <div class="productInfo">
                      <!-- 상품 이미지 -->
                      <a class="productImg" th:href="@{/main/main}">
                        <img src="../../static/assets/images/product/product1.jpg" alt="상품 이미지" />
                      </a>
                      <div class="productDetailInfo">
                        <!-- 브랜드명 -->
                        <a th:href="@{/main/main}">
                          <span>주식회사 에프디랩</span>
                        </a>
                        <!-- 상품명 -->
                        <a th:href="@{/main/main}">
                          <span>[네츄럴메이드]멀티비타민 앤 미네랄 선물세트_1박스(1,445mg*90정 X 2개입)(6개월분)</span>
                        </a>
                        <!-- 수량 조절 -->
                        <div class="quantityControl">
                          <!-- `-` 버튼 -->
                          <button type="button" onclick="decreaseQuantity(this)">-</button>
                          <!-- 상품 수량 -->
                          <input type="text" class="productQuantity" value="1" readonly />
                          <!-- `+` 버튼 -->
                          <button type="button" onclick="increaseQuantity(this)">+</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- 상품 금액-->
                  <div class="productPriceBox">
                    <!-- 판매가 -->
                    <span class="salePrice">36,000원</span>
                    <!-- 정가 -->
                    <span class="lineThrough">72,000원</span>
                    <!-- 주문하기 링크 -->
                    <a class="goPayment" th:href="@{/payment/payment}">주문하기</a>
                  </div>

                  <!-- 배송비 -->
                  <span class="deliveryPriceBox">0원</span>
                </div>

                <!-- 배송비 정보-->
                <div class="cartBottom">
                  <span>배송비</span>
                  <span>0원</span>
                </div>
              </li>
            </ul>
          </div>

          <!-- 전체 합계 -->
          <section class="cartTotal">
            <!-- 전체 주문금액 타이틀 -->
            <div class="cartTotalTitle">전체 합계</div>
            <!-- 전체 주문금액 -->
            <div class="totalPrice">
              <span>전체 주문금액</span>
              <span class="totalPriceText">0원</span>
            </div>
            <!-- 주문하기 버튼 -->
            <a class="orderBtn" th:href="@{/payment/payment}"><span>주문하기</span></a>
          </section>
        </section>
      </div>
    </main>

    <!-- Footer 영역 -->
    <th:block th:replace="~{/fragments/footer}" />

    <!-- Script 영역 -->
    <script>
      // Footer 영역의 margin을 0으로 설정
      document.querySelector(".footerContainer").style.margin = "0px";

      /* 전체 선택/해제 함수 */
      const toggleSelectAll = (v) => {
        const checkboxes = document.getElementsByClassName("productCheckbox");
        for (let i = 0; i < checkboxes.length; i++) {
          checkboxes[i].checked = v.checked;
        }
      };

      /* 선택된 항목 삭제 함수 */
      const deleteSelected = () => {
        const selectedItems = document.querySelectorAll(".productCheckbox:checked");
        selectedItems.forEach((item) => {
          item.closest("li").remove();
        });
      };

      /* 수량 감소 함수 */
      const decreaseQuantity = (button) => {
        const quantityInput = button.nextElementSibling;
        let currentQuantity = parseInt(quantityInput.value);
        if (currentQuantity > 1) {
          quantityInput.value = currentQuantity - 1;
          alert("수량이 변경되었습니다.");
        } else {
          alert("최저 수량 미만으로 설정할 수 없습니다.");
        }
      };

      /* 수량 증가 함수 */
      const increaseQuantity = (button) => {
        const quantityInput = button.previousElementSibling;
        let currentQuantity = parseInt(quantityInput.value);
        quantityInput.value = currentQuantity + 1;
        alert("수량이 변경되었습니다.");
      };

      /* 전체 주문 금액을 계산하는 함수 */
      const calculateTotalPrice = () => {
        // 모든 상품 li 요소를 선택
        const productList = document.querySelectorAll("#productList li");
        let totalPrice = 0;

        // 각 상품의 수량과 판매가를 곱하여 전체 주문 금액을 계산
        productList.forEach((product) => {
          const productCount = parseInt(product.querySelector(".productCount").textContent);
          const salePrice = parseInt(product.querySelector(".salePrice").textContent);
          totalPrice += productCount * salePrice;
        });

        // 계산된 전체 주문 금액을 totalPrice 요소에 반영
        document.getElementById("totalPrice").textContent = totalPrice;
      };
      // 페이지 로드 시 총 금액 계산
      calculateTotalPrice();
    </script>
  </body>
</html>
