spring.application.name=linme
#-------------------------------------------------
# 서버 포트 80 변경 및 IP주소
#-------------------------------------------------
server.port=80
#server.address=192.168.10.73

#--------------------------------------------------
# 스프링부트 재가동 재시작 라이브러리
# 크롬에서 live reload 확장설치 필요함 
#--------------------------------------------------
spring.devtools.livereload.enabled=true
spring.devtools.restart.enabled=true

#-------------------------------------------------
# 전송 데이터 압축 (성능 최적화)
#-------------------------------------------------
server.compression.enabled=true
server.compression.mime-types=text/html,text/plain,text/css,application/javascript,application/json
server.compression.min-response-size=500

#--------------------------------------------------
# Java Mail
#--------------------------------------------------
spring.mail.host=smtp.naver.com
spring.mail.port=587
spring.mail.username=tlawlswn28@naver.com
spring.mail.password=9PKUF98YN272
#spring.mail.host=smtp.gmail.com
#spring.mail.port=587
#spring.mail.username=tlawlswn28@google.com
#spring.mail.password=xwlixlxgbcetbupg
#--------------------------------------------------
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
#spring.mail.protocol=smtps
#--------------------------------------------------
# 개발자가 직접 정의한 환경설정 값
# 한글을 사용해야할 경우 유니코드로 변환해서 지정해야함.
# https://www.learnkoreantools.com/kr/korean-to-unicode
mailhelper.sender.name=\uc2ec\uc9c4\uc8fc
mailhelper.sender.email=tlawlswn28@naver.com


#-------------------------------------------------
# crud 접속 정보
#-------------------------------------------------
# 기본 구성
#spring.datasource.url=jdbc:mysql://127.0.0.1:3306/linme?characterEncoding=UTF8
#spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
# logback 연동 구성
spring.datasource.url=jdbc:log4jdbc:mysql://127.0.0.1:3306/linme?characterEncoding=UTF8
spring.datasource.driver-class-name=net.sf.log4jdbc.sql.jdbcapi.DriverSpy
spring.datasource.username=root
spring.datasource.password=123qwe!@#


#-------------------------------------------------
# File Upload 기본 설정
#-------------------------------------------------
# 파일 하나의 최대 사이즈 설정
spring.servlet.multipart.max-file-size=25MB
# Multipart 요청에 포함된 전체 요청의 최대 크기 사이즈
spring.servlet.multipart.max-request-size=100MB

#-------------------------------------------------
# File Upload 관련 개발자가 직접 정의한 속성
# -> META-INF에 등록 필요
#-------------------------------------------------
# 업로드 된 파일이 저장될 폴더 경로 ("/" 로 끝나면 안됨)
# -> 미리 이 폴더가 생성되어 있어야함
# -> 이 경로가 프로젝트 폴더 안에 존재하면 안됨
# -> [MAC, LINUX 용]
#upload.dir=\jinju\upload
# [Windows용] 드라이브 문자열 앞에 "/" 적용 필요
upload.dir=/D:/jinju/07_SpringBoot/upload

# 업로드 된 파일이 노출된 URL 경로 ("/"로 끝나면 안됨)
# -> "http://localhost:8080/files"를 의미
# -> "http://localhost:8080/files"가 "upload.dir"에 명시한 폴더를 의미
upload.url=/files

#-------------------------------------------------
# 썸네일 이미지 관련 개발자가 직접 정의한 속성
# -> META-INF에 등록이 필요함
#-------------------------------------------------
thumbnail.width=640
thumbnail.height=640
thumbnail.crop=true


#-------------------------------------------------
# DB Session 설정
# 지정한 시간동안 세션 유지한다.
#-------------------------------------------------
spring.session.timeout=1h