/* pretendard 웹폰트 css에서 사용하기 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 공통css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: pretendard;
  color: #333;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  display: block;
  position: relative;
  margin-top: 150px;

  .orderContainer {
    /* order 공통 */
    .contents {
      height: fit-content;
      margin: 0 auto;
      width: 1080px;
    }

    .myPageDetail {
      padding: 70px 0 70px 0;
      display: flex;
      flex-direction: column;
    }

    .shoppingCover {
      margin: 0 auto;
      width: 740px;
    }

    .statusTypeList {
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }

    /* statusTypeItem */
    .statusTypeItem {
      background-color: #d2d2d2;
      border: 1px solid #b6b6b6;
      color: #8d8d8d;
      cursor: pointer;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: -0.36px;
      line-height: 21px;
      padding-block: 16px;
      text-align: center;
      width: 297px;
    }

    /* 주문/배송 버튼 */
    .statusTypeItem.order {
      background-color: #fff;
      color: #333;
      border-bottom-left-radius: 6px;
      border-top-left-radius: 6px;
    }

    /* 취소/교환/환불 */
    .statusTypeItem.claim {
      border-bottom-right-radius: 6px;
      border-top-right-radius: 6px;
    }

    /* 주문/배송 내역 */
    .orderList {
      align-items: center;
      display: flex;
      justify-content: center;
      height: fit-content;
      margin-top: 50px;
      min-height: 600px;
      overflow: hidden;
      width: 100%;
    }

    /* 내역 없음 */
    .noOrderList {
      color: #8d8d8d;
      font-size: 18px;
      font-weight: 400;
      height: fit-content;
      letter-spacing: -0.36px;
      line-height: 2.11;
      text-align: center;
      width: 0 auto;
    }

    /* 쇼핑하러가기 */
    .moveToMain {
      align-items: center;
      border: 1px solid #d2d2d2;
      border-radius: 4px;
      color: #606060;
      column-gap: 12px;
      display: flex;
      font-size: 18px;
      font-weight: 500;
      height: fit-content;
      letter-spacing: -0.36px;
      line-height: 1.22;
      margin: 48px auto 0;
      padding: 8px 20px;
      width: fit-content;
    }
  }
}
